[2017-10-30 09:59] opedge opened #1 "Similar project"
I'm developing onnx-coreml converter https://github.com/prisma-ai/onnx-coreml. It is in the early experimental stage of development, but it supports all models from https://github.com/onnx/models. Maybe it could help you a bit if you are doing the similar thing?

[2017-10-30 19:58] dzhulgakov commented on #1
Hi Oleg,

Yes, it's pretty awesome! CoreML support is something we wanted to build but haven't started yet. So contributions are very welcomed.

As for testing models from onnx/models - have you also compared the output results? One way would be to hook into some of the testing infra in onnx repo. You can see how it's done for onnx->caffe2 converter - that runs conversion and numerical comparison

[2017-10-30 20:33] opedge commented on #1
Hi @dzhulgakov ,

I tested all models from onnx zoo repo and compared output results: https://github.com/prisma-ai/onnx-coreml/blob/master/tests/test_models.py#L53
The results are almost equal with decimal=5. I think some small differences may occur due to different operators implementation in CoreML. I have experience with the same little difference and coreml in other projects, like torch2coreml

[2017-10-31 06:32] dzhulgakov commented on #1
Nice! Getting model tests passing is actually quite impressive (especially so that all implementations in CoreML are compatible).

For things which'd be nice to setup:
- tweak backend tests to interface like https://github.com/onnx/onnx-caffe2/blob/master/tests/onnx_backend_test.py for consistency (also takes care of downloading the models)
- setup CI (might be tricky as it'd require macos 10.13 a

[2017-10-31 12:36] opedge commented on #1
@dzhulgakov ,

- I'll tweak tests to be consistent with onnx-caffe2
- yes, it's tricky as macos 10.13 is not supported on the most services (like travis), but I'll try to find something suitable

I'd like to save copyright to prisma-ai if it is possible of course. It'd be great if you could add me as coowner. I plan to support more operators and make all necessary fixes for the new versions of ONN

[2017-11-01 05:59] dzhulgakov commented on #1
@opedge - I've granted you write access to this repo. Feel free to add code at you convenience. Thanks a lot for contributing!

As for CI - looks like some hosted Mac solutions already support 10.13 (e.g. https://www.macincloud.com/) We have some progress going on with Jenkins-based CI so might be able to use that.

[2017-11-01 18:04] opedge commented on #1
@dzhulgakov Thank you! I added the current state of the project.
I tweaked backend tests to be consistent with onnx.backend.test. All model tests passed, but I temporary disabled node tests as CoreML don't support broadcasting, arbitrary dot operator, etc. Some of this issues could be resolved with shape inference for example (broadcast preprocessing), but some operators will stay unsupported, unf

[2017-11-15 21:05] #1 closed

[2017-11-28 15:46] patkinm opened #3 "Error when convert pytorch->onyx->coreml"
I have modified resnet-18 model on PyTorch (without BatchNorm).
The flow of conversion:  PyTorch -> onnx -> coreml.
PyTorch version: branch 0.3.0, commit 9622eaa

When I try to convert the model from onnx to coreml I see the follow error:

[code]

Onnx model in attach
[resnet_18.onnx.zip](https://github.com/onnx/onnx-coreml/files/1510533/resnet_18.onnx.zip)

[2017-11-30 04:36] lutzroeder opened #4 "Repo is missing a short description"
"No description, website, or topics provided."

[2017-12-02 22:13] dzhulgakov commented on #3
Looks like one needs to check that 'transB' attr is present in the list (default value in 0). Can you try that and submit a PR if it works?

[2017-12-02 22:34] dzhulgakov opened #6 "Updates necessary for newly added test cases"
We're shooting for ONNX v1 announcement at NIPS next week and thus it'd be awesome to make sure that all tests are passing with the latest ONNX master.

We added a few backend test cases upstream in ONNX (by exporting some of the PyTorch's tests) and some of them are not passing the tests in CoreML.

Notable issues:
1) #5 addresses padding and tries to fix some reshapes
2) Some of the ops are not

[2017-12-03 19:37] opedge commented on #6
For 2) I'm updating converter to support ops.
As for 3) I think the special "Unsupported" exception will be ok, will the onnx backend.text support this?

[2017-12-03 23:17] opedge commented on #6
I've updated the converter just now to support Elu, PRelu, Tanh, Exp, Flatten, Max, Softsign, Softplus, Neg, Split, Log operators.
Also I had to exclude a lot of new tests that they are not compatible with CoreML:
- Unsupported input shape: test_PReLU, test_Conv3d, test_BatchNorm3d, test_BatchNorm1d, test_AvgPool2d, test_AvgPool3d, test_GLU, test_Linear, test_LogSoftmax, test_MaxPool1d, test_MaxPo

[2017-12-05 04:38] oneTaken commented on #3
I face this bug too, it's in the linear layer.
And I skip this by
[code]
And then, the linear only has `b`, no `W`, hard to debug.

[2017-12-05 10:51] oneTaken opened #8 "linear convert error"
I convert the `.onnx` model to coreml model, And I found `pooling pading mismatch ` bug , #7 .
And then , I found the linear layer convert error, There is missing `w`, just `b` for a linear layer, So I manully add `w`, and then the `return MLModel(builder.spec)` raises

`RuntimeError: Error compiling model: "Error reading protobuf spec. validator error: Layer '250' consumes a layer named '136' whi

[2017-12-05 10:55] oneTaken commented on #8
And this is part of the graph, maybe helpful.
[code]

[2018-01-18 23:46] linkerzhang opened #9 "ImageScaler is not supported when converting to coreml."
When converting onnx model to coreml (tinyyolo), ImageScaler could not be supported.

[2018-01-22 23:36] souptc opened #10 "Pad op is not supported"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/cheng/anaconda3/envs/py27/lib/python2.7/site-packages/onnx_coreml/_onnx_converter.py", line 219, in convert
    _convert_node(builder, node)
  File "/home/cheng/anaconda3/envs/py27/lib/python2.7/site-packages/onnx_coreml/_layers.py", line 390, in _convert_node
    converter_fn = _get_node_converter_fn(node)
  Fi

[2018-01-23 17:42] ivylee opened #11 "Support ConvTranspose"
Any plans to support conversion of https://github.com/onnx/onnx/blob/master/docs/Operators.md#ConvTranspose?

[2018-02-03 00:26] #4 closed

[2018-02-07 11:05] engine303 opened #12 "TypeError: ONNX node of type Constant is not supported."
Hi! i try to convert simple feedforward model to core-ml

Here is my code for reproducing:
[code]

Here is onnx graph:
[code]

Then i try to convert my model from onnx to coreml:
[code]

and got this error:
[code]

Could you add support for onnx Constant node type?
thank you

[2018-02-26 20:29] smessmer opened #35 "Code Cleanup && Initial Improvements"
- [x] Development Setup
  - [x] onnx/caffe2 as submodule in git : https://github.com/onnx/onnx-coreml/pull/13
  - [x] install.sh / install-develop.sh : https://github.com/onnx/onnx-coreml/pull/21
- [x] Setup CI
  - [x] osx : https://github.com/onnx/onnx-coreml/pull/33
  - [x] linux : https://github.com/onnx/onnx-coreml/pull/40
- [ ] Revamp PyPi deployment
- [ ] Make test cases pass
  - [ ] Make cu

[2018-02-28 19:12] aseemw opened #47 "Enable Densenet121 test"
Enable the Densent121 test with a slightly less strict tolerance (PR #42)

[2018-02-28 21:22] aseemw opened #50 "Failing Backend Node tests"
Current State of OnnxBackend tests (if tests/onnx_backend_test.py in master is executed and all tests are included except the 9 model zoo tests):

72 passed, 279 skipped, 189 failed:

Breakup of 189 failed tests:
142: OnnxBackendNodeTest
39: OnnxBackendPyTorchConvertedModelTest
8: OnnxBackendPyTorchOperatorModelTest

Of the 142 failing OnnxBackendNodeTest tests, a bunch are failing due to fact tha

[2018-03-09 06:21] aseemw commented on #50
Triaging of failing tests part of PR #69.
Closing this issue (see Issue #35)

[2018-03-09 06:21] #50 closed

[2018-03-09 06:22] aseemw commented on #47
Closing this issue (should be covered under Issue #35)

[2018-03-09 06:22] #47 closed

[2018-03-12 14:38] QuentinLEMAIRE opened #92 "PyTorch to CoreML: incorrect input type"
Hello,

I am trying to run my PyTorch network on an iOS device. However, I face the issue of an incorrect input format when I put my network in Apple's demo (https://developer.apple.com/documentation/vision/classifying_images_with_vision_and_core_ml), my input is a MultiArray (Double 3 x 224 x 224) and the one used by Apple is Image (Color 224 x 224).

I didn't find a way to get an input Image wit

[2018-03-12 22:45] aseemw commented on #92
Make sure `image_input_names='input'` is a list and that the name you put matches the input name that you have in the model. It would be the same as the one you are getting in the Multiarray version of the .mlmodel that you now have.

That is, lets say the input name is "input_image", then you would pass
`image_input_names=['input_image']` while calling convert.

[2018-03-13 10:06] QuentinLEMAIRE commented on #92
Thank you, it works!

[2018-03-13 10:06] #92 closed

[2018-03-16 04:13] tocean opened #107 "onnx-coreml doesn't support for python 3.x"
I installed onnx-coreml using “pip install -U onnx-coreml” with python 3.5 successfully. But when I import the package in python, I got an error as bellows.

![image](https://user-images.githubusercontent.com/4133758/37503428-5fddb1ae-2913-11e8-8f5e-2960f9ed396b.png)

So could you like to build a wheel package supporting python 3.x and upload it to pypi?

[2018-03-16 22:29] smessmer commented on #107
This is already fixed in the repository. You can install onnx-coreml using these commands:

    $ git clone https://github.com/onnx/onnx-coreml
    $ cd onnx-coreml
    $ pip install .

We're also planning to create a new pypi release.

[2018-03-18 13:41] tocean commented on #107
I tried, but got an error about caffe2.python.onnx as bellows. I have installed 0.8.1 of caffe2 on my machine. Did that mean I should install the latest caffe2 from source?
![image](https://user-images.githubusercontent.com/4133758/37566338-9d164654-2af2-11e8-8598-d57f6a2c328b.png)

What I expect is that I can install onnx-coreml using "pip install -U onnx-coreml" in python 3.x. So could you build

[2018-03-21 20:24] smessmer commented on #107
Yes, you need to have caffe2 installed. We're working on removing that dependency, but right now it's still needed. As a shortcut, if you clone the repository including submodules, you can use the `install.sh` script, which should install caffe2 and onnx for you:

    $ git clone https://github.com/onnx/onnx-coreml --recursive
    $ cd onnx-coreml
    $ ./install.sh

[2018-03-25 10:11] gi097 opened #131 "ONNX node of type PRelu is not supported."
When converting a proto model, I get the following error: `TypeError: ONNX node of type PRelu is not supported.`, which is weird since the op is in the dictionary.
https://github.com/onnx/onnx-coreml/blob/0346a54f61b8ed46413314febf21c0e94bd598cf/onnx_coreml/_operators.py#L693
I am using the latest version on MacOS.

[2018-03-25 12:55] gi097 commented on #131
Here is the file I am trying to convert:
[export.onnx.zip](https://github.com/onnx/onnx-coreml/files/1845304/export.onnx.zip)

[2018-04-05 02:16] aseemw commented on #131
Can you check again by installing the repo from the source as described in the readme file?

[2018-04-05 02:20] aseemw commented on #11
PR #143 added the support for Conv Transpose.

[2018-04-05 02:20] aseemw commented on #10
This op should be in the master now.
Can you check again by installing from the source as described in the readme file? The PyPI package is out of date.

[2018-04-05 02:27] aseemw commented on #9
Yes this needs to be added. Can you provide the tinyyolo .onnx model as a test case?
However, the same functionality can also be achieved by providing the "preprocessing_args" to the convert function, if the scaling is applied to the input and not in the middle of the graph.

[2018-04-06 00:15] smessmer commented on #12
addressed in https://github.com/onnx/onnx-coreml/pull/162

[2018-04-10 16:08] gustavla opened #171 "convert with Python 2-style str input fails"
If you put in a `str` object into `convert` in Python 2 (that is, a `bytes` object in Python 3 parlance), then this check fails:

[code]

https://github.com/onnx/onnx-coreml/blob/master/onnx_coreml/converter.py#L221-L222

[code]
Unicode input works, so that is a work-around.

[2018-04-20 22:26] aseemw opened #206 "Test all models from the model zoo"
https://github.com/onnx/models

[2018-04-20 22:26] #107 closed

[2018-04-20 22:26] #131 closed

[2018-04-20 22:26] #11 closed

[2018-04-20 22:27] #10 closed

[2018-04-20 22:36] aseemw commented on #206
Added a bullet in issue #35 instead. Closing this.

[2018-04-20 22:36] #206 closed

[2018-04-30 06:37] #12 closed

[2018-04-30 06:38] aseemw commented on #9
see PR #228

[2018-04-30 23:18] #9 closed

[2018-05-25 03:07] Shradha131 opened #317 "After converting, coreML model is removing some factors"
I converted my onnx model to coreML using onnx-coreml but my converted coreML model is not having dropout factor, which was initially present in my onnx model.
Further, this tool also removed momentum and affine from my batch normalisation.

Is there any way, I can convert my onnx model to coreML retaining these factors.

[2018-05-25 16:07] aseemw commented on #317
This is on purpose. CoreML does not support dropout or momentum etc in BN as they are training related layers/parameters and CoreML is an inference only engine.

Why do need these in your CoreML graph? Is your model using these features during inference?

[2018-05-25 17:44] Shradha131 commented on #317
Yes, my model is using these feature as dropout factor, momentum and affine during inference.

[2018-05-25 18:46] aseemw commented on #317
Okay.
May I ask what kind of model it is? (if its not open source, ignore this question :)).
Having dropout means, it gives a non deterministic output each time you invoke it?

In that case, you would need to use the custom layers in CoreML. There are some pointers in the readme of this repo as to which extra arguments to pass to the converter and examples in the unit tests.

Here is a nice [blogp

[2018-06-07 13:51] naruya opened #318 "Installation Error: Cloning into 'third_party/eigen' failed."
While installing from source, an error occurred.

[code]

Certainly the eigen repository does not exist.
How do I avoid this error...?

[2018-06-15 17:54] jma100 commented on #318
Go into the third_party folder and do
git clone https://github.com/libigl/eigen.git
then run
git submodule update --init --recursive

That should install all the third party repositories

[2018-06-16 02:32] naruya commented on #318
Thank you!

[2018-06-23 18:55] jbmaxwell opened #321 "Developments on slicing"
Is there any timeline on extending slicing support? I'm getting this error (converting a PyTorch UNet):

and I really don't know how I could get around it.

[2018-07-09 23:18] aseemw opened #322 "Check the ONNX version number and error out if not supported by the converter"

[2018-07-18 09:34] cbecker commented on #321
I am using multidimensional slicing so it seems to be working.

However I had to tweak it as it was slicing on the wrong dimension. I think this is because CoreML assumes we have `[channels, height, width]`, while in my case it is `[batch_size, channels, height_width]`

I had to change `_operators.py`, at `_convert_slice` to have the following:
[code]
(before it was `channel -> 0`, `height -> 1`,

[2018-07-18 15:43] aseemw commented on #321
CHW is the default order of tensors in CoreML and several layers depend on this order.
Since, as of now, the converter does not interpret the meaning of each dimension for each tensor for the whole graph jointly, it does not recognize new cases (such as [B,C,H] in this case).

[2018-07-20 18:45] jbmaxwell commented on #321
hmm... the error I'm getting above is from the previous check, at the top of _operators.py:
[code]
Anyway, I tried your fix, but unsurprisingly I get the same error.

[2018-07-24 11:13] kilotaras opened #324 "torch.nn.Parameter marked as not present"
The following code will fail

[code]

will produce

[code]

I've hit this issue when trying to add CoordConv from recent uber's paper to some networks and the following is minimum example I could generate.

Moving `self.ones` to `forward` will change operation `%1` to `onnx::Constant` but leaves error the same.

`Add` is just an example.  The same problem is present with `torch.cat`, multiply and

[2018-07-26 07:52] cbecker commented on #321
@aseemw I understand that. Still it's quite limiting, would it make sense to take dimension ordering as a parameter to the convert function? Right now it's in an unusable state for anyone working on images from pytorch.

@jbmaxwell As a workaround you can generate two concatenated slicing operations, one working on a dimension at a time. I think this is how pytorch is doing is, as I can export to

[2018-07-26 15:00] jbmaxwell commented on #321
Well, I upgraded last night and my error changed. Now I'm seeing:
[code]

[2018-07-26 20:57] aseemw commented on #324
Seems like a bug in the converter. Will take a look.

[2018-07-26 21:15] aseemw commented on #321
Yes I agree dimension ordering is a pain and the converter currently does not handle it properly when the actual order varies from the defaults that are hard coded.

One WIP item that will help in this regard is the native shape inference in ONNX that went in recently (PR #323). The converter needs to be updated to take into account the shape information now available.

The ideal case is if the co

[2018-07-27 19:20] jbmaxwell commented on #321
@cbecker: I have to confess that I'm new to python/numpy and not sure exactly what you mean by "generate (two) concatenated slicing operations". Are you suggesting separating out slices for each dimension? The slice that (I think) is causing the problems is of the form `[: , : , i:j , x:y]`. I tried something like:
[code]
which (I believe) will produce the same output, but it gives me the same err

[2018-07-27 20:39] cbecker commented on #321
@jbmaxwell which pytorch version are you using? I am using pytorch and using the above code to convert a u-net-like network to coreml and I had no issues. Can you post a snippet with a minimal working version to reproduce the error you're getting?

[2018-07-27 20:50] jbmaxwell commented on #321
I'm on pytorch 0.3.1. I tried updating but it produces all kinds of errors in the model. I do pytorch to onnx:
[code]
then onnx to coreml:

[code]
The error is: ```TypeError: Error while converting op of type: Slice. Error message: Only single axis Slice is supported now```

[2018-07-27 20:56] cbecker commented on #321
I am using 0.4.0 or 0.4.1, that may be the issue. I'd suggest that you upgrade to 0.4.0, what errors are you getting? It may be that 0.3.x was using a single slice op for both dimensions and 0.4.x is using two, which is why it works then with coreml.

Another option is to modify the onnx file and split the slicing op into two, though that's more involved.

[2018-07-27 21:09] jbmaxwell commented on #321
Right, okay. I've upgraded again to 0.4, and this is the current error:
[code]
Confusing... I don't understand why it seems to be looking for Tensor.round() not just Python's round() function(??)

[2018-07-27 22:41] jbmaxwell commented on #321
Okay, I was able to run an epoch, but now the jupyter kernel just restarts when I try to convert from onnx to coreml. Very strange. Presumably something is crashing ungracefully somewhere.

[2018-07-27 22:49] cbecker commented on #321
This is more of a pytorch question. I think it's because you're forgetting to convert to numpy here. Try
[code]

[2018-07-27 22:53] jbmaxwell commented on #321
Do you mean that this might affect the onnx model? I only ask because with err.item() it runs an epoch without issue (and with reasonable results, given it's only 1 epoch).

[2018-07-27 23:05] cbecker commented on #321
The pytorch version probably does, as the onnx exporter is part of pytorch AFAIK.

[2018-07-27 23:08] jbmaxwell commented on #321
yeah, it seems like my env is a bit pooched now. Turns out even just the ```import torch``` was restarting the kernel.

[2018-07-28 02:31] jbmaxwell commented on #321
Okay, some progress. I had to apply your axes patch from above, but I also have a problem in concat:
[code]

[2018-07-28 08:46] cbecker commented on #321
@jbmaxwell I'd recommend that you post this somewhere else and ping me. Can you post it in an online notebook? then i can have a look and we don't add too many messages to this thread

[2018-07-28 13:32] jbmaxwell commented on #321
I got it to complete by changing the default `mode` in `_convert_concat` from `None` to `'CONCAT'`. While that seems like a reasonable guess, it's very possible this will just be incorrect. I'll look into posting a notebook for you to look at; that would be super helpful.

[2018-07-30 11:51] cbecker commented on #321
In particular, it would be useful if you can provide some of the code snippets which error out during conversion. They would definitely help in making test cases while more logic is added to the converter to handle different shapes.

@aseemw The input type that leads to problems is `[batch, channel, height, width]` when the input tensor is 4D, which is the common format when dealing with images in

[2018-07-30 15:58] aseemw commented on #321
@cbecker That is surprising, since the converter code is supposed to be written assuming this very format, [BCHW].
Maybe there is a bug in the converter code.
Can you please provide a small code snippet with image and slicing operations, to reproduce the error, so that we can debug. Thanks.

[2018-07-30 16:05] cbecker commented on #321
Sure, you can try this:
[code]
[model.onnx.zip](https://github.com/onnx/onnx-coreml/files/2241956/model.onnx.zip)

And the onnx file is attached if you don't have pytorch, you can run the last two lines only then.

[2018-08-02 09:56] setuc opened #325 "While converting WideResnet I get an Error Unsupported ONNX ops of type: Shape,Squeeze,Unsqueeze"
I am currently using it in Python 2.7 and I installed coreml via pip. Would you want a copy of the code?

[2018-08-02 16:11] aseemw commented on #325
Yes it would be great if you give directions to generate the .onnx file that causes these errors.

[2018-08-09 21:15] jbmaxwell commented on #321
@cbecker: It seemed like a got a little farther with this, but it was a false alarm. I've posted a question here (https://stackoverflow.com/questions/51605747/errors-converting-pytorch-unet-tiramisu-into-coreml-via-onnx), but nothing so far.

[2018-08-20 22:13] kory opened #326 "Support different pre-processing for different images"
My team and I have a use-case of CoreML in which it's necessary to use multiple image inputs that all need different pre-processing. CoreML supports this, but the converter does not.

Can support for this be added?

[2018-08-21 10:29] pavan4 opened #327 "Converted model has issues when importing into xcode"
Hello,

I successfully exported a custom onnx model into a coreml model. However, when I import it into xcode I have the following message:

I checked the spec of the model and it looks fine:

[code]

Any pointers on where to look to debug this ?

[2018-08-21 13:38] pavan4 commented on #327
I figured out the issue. I was a torch.cat layer and it wasn't able to add the layer in the exported model

[2018-08-21 13:38] #327 closed

[2018-08-23 14:03] pavan4 commented on #325
Any update to support the Squeeze, Unsqueeze, Shape, Tile ops?

[2018-08-23 14:37] pavan4 commented on #325
[code]

import onnx

[code]

The above produces the error ` NotImplementedError: Unsupported ONNX ops of type: Unsqueeze`

The onnx file is attached here for the above network.
[test.onnx.zip](https://github.com/onnx/onnx-coreml/files/2314920/test.onnx.zip)

[2018-08-24 00:44] aseemw commented on #321
PR #328 should handle the single axis slice op when the input tensor is 4-D (BCHW)

[2018-08-24 00:46] aseemw commented on #325
Thank you for the code. There were some changes in opset version 7 which cause this error.
I'll take a look. A few fixes have been put up in PR #328 which might solve the unsqueeze issue.

[2018-08-24 08:05] cbecker commented on #321
Thanks Assem. I'll give it a try when it's merged. Now we're using a custom patch here to make it work.

[2018-08-24 15:37] pavan4 commented on #325
@aseemw  Thanks.

Is there any way to give some sample code for writing up these custom layers ?

In WWDC'18 presentation there, a demo for gridsampling was shown. However, the code for computing the output is not in the presentation nor an example is linked outside anywhere. Anyway to get a sample for the grid sampling as well?

We basically have a network using [torch grid sample](https://pytorc

[2018-08-26 00:28] aseemw commented on #326
PR #321 should hopefully fix this issue.

[2018-09-13 21:14] aseemw commented on #325
Hi have you tried with the latest master (building from source).

I'll look into it. It would be useful if you can also share a simple model code that demonstrates the issue.

The new pytorch add these additional layers in the ONNX format which is causing the converter to break.

[2018-09-13 21:59] leonardoaraujosantos commented on #325
I tried the following code and works if I calculate by hand the view(Pytorch reshape) parameters.
But it will break the onyx-->coreml conversion if I use (x = x.view(x.size()[0], -1))
[code]

So I calculated all the view parameters on my bigger models, but I also have the following issue
[code]

[2018-09-13 23:01] leonardoaraujosantos commented on #325
I've reported this issue on Pytorch repository, and they are state that those ops are valid on ONNX
https://github.com/pytorch/pytorch/issues/11670

[2018-09-14 12:43] leonardoaraujosantos opened #333 "FC layer without Bias conversion issue"
# Introduction
Conversion from onnx to coreML fails if we use a Linear (Fully connected layer) with No bias. Pytorch generate a graph with the GEMM op if we use Bias, but uses a transpose and MatMul op if we set no Bias. Seems that there is an issue with the MatMul data initialization.

<img width="300" alt="screen shot 2018-09-14 at 1 29 32 pm" src="https://user-images.githubusercontent.com/89838

[2018-09-16 00:13] aseemw commented on #333
PR #335 should fix this issue

[2018-09-16 12:49] leonardoaraujosantos commented on #333
Hi @aseemw I've checked with bigger models as well, and seems fine.

[2018-09-17 01:17] aseemw commented on #326
Please reopen the issue if PR #331 did not resolve it.

[2018-09-17 01:17] #326 closed

[2018-09-17 01:32] aseemw commented on #325
PR #336 should fix this issue.

[2018-09-18 18:26] manuelcosta74 opened #337 "NIMA (MobileNetV2 architecture) - ONNX 2 CoreML fails"
Hi

i'm in the process of converting NIMA based on MobileNetV2 architecture (pytorch) model to CoreML (model can be found here https://modelzoo.co/model/nima).
Did manage to export model from PyTorch to ONNX. Now from ONNX to CoreML is giving the error listed bellow.

Did install from source (1.1.1).

tkx

p.s.: If it helps i can also send onnx file.

Source
import onnx
from onnx_coreml import con

[2018-09-18 18:36] aseemw commented on #337
Hi, Yes it would be great if you can provide the saved .onnx model as well. Thanks!

[2018-09-18 21:42] manuelcosta74 commented on #337
NIMA_Aesthetics.proto

https://drive.google.com/file/d/1By-J2aiz9oDYKcq32x8Uxkb0IVyqGqx-/view?usp=sharing

[2018-09-18 22:00] aseemw commented on #337
It works for me when I try to convert from the top of the master branch (https://github.com/onnx/onnx-coreml#install-from-source):
I used onyx version 1.3.0
[code]

[2018-09-18 22:32] manuelcosta74 commented on #337
It worked!
The issue was with onnx version... did have 1.1.2

Thanks!

[2018-09-19 12:39] manuelcosta74 commented on #337
@aseemw is it possible to change input and output names? For example, for this model, we will have names given by indexes or so.
If it is not, please see it as a suggestion.

cheers

[2018-09-19 18:04] aseemw commented on #337
Yes, its mentioned in the README

[2018-09-19 20:50] #337 closed

[2018-09-20 11:11] manuelcosta74 opened #338 "Normalize input image per color channel"
Read coremltools documentation, did search through Google and it is not clear to me the "best way" to normalize per color channel. I see that there are bias factors per channel and scale, though, seems to be applied to all.
My model is the same as it was exposed in #337 and they do the following

Python source

    from torchvision import transforms

    IMAGE_NET_MEAN = [0.485, 0.456, 0.406]

[2018-09-20 12:46] manuelcosta74 commented on #338
Option 2 should not be as i as said. I think we'll have to replace model input and use MLMultiArray with the normalization processed upstream of the graph.
Don't like much this possibility. It is cleaner to inject something in the graph and keep input clean as image.

[2018-09-20 22:15] aseemw commented on #338
The CoreML scale layer can do channel wise normalization. So you do not need to make a custom layer or normalize the CVPixelBuffer.

The only question is about adding the Scale layer at the beginning of the CoreML model, which can be done either manually using the CoreML builder library or if the scale layer is present in the onnx model, the converter should take care of it.

[2018-09-20 22:28] manuelcosta74 commented on #338
bug on my side... blue channel! :)

[2018-09-20 23:28] manuelcosta74 commented on #338
@aseemw i like the idea of adding scale layer in python.
Do you think that https://github.com/onnx/onnx-coreml/blob/master/tests/_test_utils.py can be a good reference?

[2018-09-21 00:36] aseemw commented on #338
just to confirm: the scale layer is not present in the ONNX model? (you can use Netron to visualize onnx model)

[2018-09-21 09:39] manuelcosta74 commented on #338
I don't think so. Input = [float32[1,3,224,224]], first layer has a convolution with a kernel 3x3.
onnx model link is available here

https://drive.google.com/file/d/1By-J2aiz9oDYKcq32x8Uxkb0IVyqGqx-/view?usp=sharing

[2018-09-21 14:11] jalola commented on #325
Hi,

I just pulled the master branch but I still get this error when converting resnet50 to coreml from onnx
`NotImplementedError: Unsupported ONNX ops of type: Unsqueeze,Squeeze
 `

I am using Pytorch 0.4.1, I didn't try 0.4.0 version yet.

[2018-09-21 17:40] aseemw commented on #325
Which version of resnet50 is that?

The following code works with the master branch:

[code]

[2018-09-21 20:44] jalola commented on #325
I forgot the Flatten layer code:

[code]

[2018-09-21 22:13] aseemw commented on #325
I'll take a look.

[2018-09-21 22:59] aseemw commented on #325
@jalola can you check if adding the following in "onnx-coreml/_operators.py" works?

add [here](https://github.com/onnx/onnx-coreml/blob/bd6586483e68e346cf1ef9abcccb57c50ee91d6b/onnx_coreml/_operators.py#L1052):

[code]

add the function:
[code]

[2018-09-22 03:11] jalola commented on #325
@aseemw
I added above code and it works. No more error.

Thanks for the fix.

[2018-09-22 13:11] jalola commented on #324
I have similar issue to this whenever I try to use Constant Tensor and do a simple operator (e.g. Add, Div, Mul...)

Even though it could convert to coreml model without any error showing, but when I tried to import the model file to Xcode, Xcode shows similar error:
`validator error: Layer 'class_inverse' consumes an input named '1' which is not present in this network.`

And here is the output o

[2018-09-22 21:40] aseemw commented on #324
Please try with PR#339

[2018-09-23 03:58] jalola commented on #324
I pulled the master and it fixed this issue.

However, is there any reason that the constant converter does not support Constant Tensor with `len(shape)` > 3? I meant this: https://github.com/onnx/onnx-coreml/pull/339/commits/0ac96dbb3ffbb7209cc500fc6ee48e7cf8a39ea4#diff-0af2887bfd122ef3d6ad990a78c3ae13R997

[2018-09-23 05:49] aseemw commented on #324
3 is the maximum length of the load constant layer in CoreML: https://github.com/apple/coremltools/blob/cf8c6dd710dc21fa2f2ab303f6729e9528997c01/mlmodel/format/NeuralNetwork.proto#L1582

[2018-09-23 05:49] #324 closed

[2018-09-25 12:27] manuelcosta74 commented on #338
@aseemw just tried the example that you provided and i'm getting an error here

    coremltools.models.MLModel(spec)

Error

    File "<ipython-input-3-fe9385dae025>", line 1, in <module> runfile('###/python/onnx-coreml/tests/onnx2coreml.py', wdir='/Users/Storyo/Documents/Code/python/onnx-coreml/tests')

    File "/anaconda2/envs/Pytorch2CoreML/lib/python2.7/site-packages/spyder_kernels/customize/

[2018-09-25 13:36] manuelcosta74 commented on #338
Seems that comemltools model.py is missing import warnings. After adding it, here is the error

/anaconda2/envs/Pytorch2CoreML/lib/python2.7/site-packages/coremltools/models/model.py:110: RuntimeWarning: You will not be able to run predict() on this Core ML model.Underlying exception message was: Error compiling model: "Error reading protobuf spec. validator error: Layer 'scale_layer' consumes an

[2018-09-25 14:27] manuelcosta74 commented on #338
@aseemw just a final doubt.
How to configure shapeBias in "scale_layer" as alternative to preprocessing_args?

[2018-09-25 18:39] aseemw commented on #338
I didn't quite get your question :)
What do mean by "configuring" shapeBias?
If you mean removing the pre-processing arguments and just adding the Bias parameter in the scale layer, yes that can be done. Adding the bias parameter is very similar to adding the Scale parameter. See: https://github.com/apple/coremltools/blob/d07421460f9f0ad1a2e9cf8b5248670358a24a1a/coremltools/models/neural_network/b

[2018-09-25 21:56] manuelcosta74 commented on #338
Thanks @aseemw for all the help.

[2018-09-26 08:43] zhiyaoma opened #364 "NotImplementedError: Unsupported ONNX ops of type: Shape,Tile"
Now I am training my own model, maybe my line of code:
"mask = mask.repeat(1, 3, 1, 1)"
 can't be transferred from .onnx to .mlmodel
 Please update "onnx_coreml" as soon as possible

[2018-09-29 19:34] #338 closed

[2018-09-29 19:34] #325 closed

[2018-09-29 19:35] aseemw commented on #321
Other slice cases are also covered in PR #341

[2018-09-29 19:35] #321 closed

[2018-10-04 07:30] UdonDa opened #344 "Unsupported ONNX ops of type: Gather,Tile"
I was able to convert the model that created this source(https://github.com/yunjey/StarGAN) code to onnx.

However, an error occurred during conversion from onnx to coreml.
This is the error code.
[code]

This is the source code.
[code]

This is the model.graph

[code]

[2018-10-04 18:19] aseemw commented on #344
That is true, since CoreML does not support "Gather" and "Tile" ops the converter is unable to handle them. The suggested workaround is to use custom layers in CoreML. There are some examples [here](https://github.com/onnx/onnx-coreml/blob/dc58afc4fce51d3376f434b20498a9abcf20edf9/tests/custom_layers_test.py#L75) and a nice blog post about the topic [here](http://machinethink.net/blog/coreml-custom

[2018-10-05 00:02] UdonDa commented on #344
Thank you very much. I will do it like this test.

[2018-10-05 00:03] #344 closed

[2018-10-12 06:19] marcoleewow opened #345 "Issue with converting LSTM pyTorch Model to ONNX to coreML"
If I convert an LSTM model with `num_layers=1`, it will give me:

If I convert an LSTM model with `num_layers=2`, it will give me:

I then implemented the custom parameters. It can compile to coreML model but now it gives me in XCode:

Here is the minimum test code, please send help!
https://gist.github.com/marcoleewow/2afb5762ed74f5244c9bd85eae35147d

[2018-10-17 07:31] nutszebra opened #346 "Segmentation Fault"
When I use `convert` in onnx-coreml, segmentation fault arises.
My codes are:
[code]
Are there any ideas to avoid segmentation fault?

My environment is like this:
[code]

[2018-10-17 08:16] h-shib opened #347 "CoreML only supports Reshape layer when the target shape is static and known apriori"
When I convert onnx model to mlmodel, I got the error below.

**error message**
[code]

**environment**
[code]

I couldn't understand what the error message says.
Doesn't `onnx-coreml` support `Reshape` function? What should I do to fix this error?

This is model graph.
[code]

[2018-10-17 15:15] aseemw commented on #347
What the error message means is that CoreML supports static reshape operation but not dynamic reshape.
That is, if the shape input can be fully determined at compile time, it can be converted, but if it can be only determined at runtime (which means its dynamic, non static) then it cannot be converted to CoreML.

Having said that, in most cases shape tends to be a static parameter.
It seems in thi

[2018-10-17 15:16] aseemw commented on #346
Do you get an error message?

Please provide more information to reproduce the issue.

[2018-10-18 06:16] nutszebra commented on #346
Error messages are  like this:
[code]

My pip list:
[code]

My environments:
[code]

[2018-10-18 06:31] h-shib commented on #347
Here is the onnx file.
https://www.dropbox.com/s/or80nq47264vzmp/tmp.onnx?dl=0

[2018-10-18 15:15] aseemw commented on #346
Not sure what's causing it.
Hard to say without looking at the model and reproducing the issue.

[2018-10-19 05:15] aseemw commented on #347
I added an optimization in PR #348. I think that should solve this particular issue. Please give it a try.

[2018-10-19 05:55] h-shib commented on #347
It worked! Thank you so much!

[2018-10-19 05:56] #347 closed

[2018-10-22 05:49] nutszebra commented on #346
I uncommented ` mlmodel = MLModel(builder.spec) `, but still segmentation fault arises at `onnx-coreml==0.3.0`.
I find that `onnx-coreml==0.1.1` works properly without segmentation fault.

[2018-10-22 06:07] h-shib commented on #346
I have same error as above.
I tried https://github.com/onnx/onnx-coreml/issues/346#issuecomment-431247960 solution and nothing changed.

I also tried same onnx => mlmodel conversion script on my Mac environment, but the result was the same.

I think this problem comes from `Upsample` operator, since other onnx model which has exactly the same architecture except `Upsample` could convert correctly.

[2018-10-22 15:33] aseemw commented on #346
@nutszebra Does the error occur with a many onnx models or with a particular model?
Which Mac version do you have?

I have not come across this behavior. It would be great if you can provide a a tiny model that reproduces the issue.

@h-shib I believe we have tests running with upsample layer. I'll double check.

[2018-10-23 00:17] h-shib commented on #346
@aseemw thanks for your reply.
I'll share the both ONNX files. `base.onnx` is able to convert to `base.mlmodel`, but `base+upsample.onnx` isn't.
Could you check those?

https://www.dropbox.com/sh/loieailoyjtxujw/AACv9h_47yLCdH_H02u1IJxia?dl=0

[2018-10-23 00:35] aseemw commented on #346
Okay, it seems the `base+upsample.onnx` model causes a crash at https://github.com/onnx/onnx-coreml/blob/53d7c434037d23f28f48f23abf50d6574477d917/onnx_coreml/_shapeinference.py#L8

which is the shape inference code for onnx. @smessmer any idea on what could be causing this?

@h-shib My suggestion would be to open an issue on the [onnx repo](https://github.com/onnx/onnx) since the crash is related

[2018-10-23 00:41] h-shib commented on #346
@aseemw thank you for quick reply.
OK, I'll open an issue on ONNX repo and will share the result on this issue.

[2018-10-23 13:49] yuvdar commented on #346
hey, I had the same issue, and fix it. you can see the fix in a PR I just opened.  https://github.com/onnx/onnx-coreml/pull/349

[2018-10-23 13:55] yuvdar opened #350 "Force output shape"
https://github.com/onnx/onnx-coreml/blob/53d7c434037d23f28f48f23abf50d6574477d917/onnx_coreml/converter.py#L402

Is there any reason not always try and force an output shape?
If I have an output which is not an image, hence I don't want `image_output_names` to contain its name, but I still want to force the output shape, what should I do? (right now I put a non-existing output, which is an ugly ha

[2018-10-23 17:02] aseemw commented on #350
If output is not an image, it is not clear how to map the onnx shape to CoreML shape, at least at the beginning of the conversion process. For instance a rank 2 output could go to either (H,W) or (Seq,C) etc in CoreML.

Currently this happens in a "soft" way here, output shape is mentioned in the description,
https://github.com/onnx/onnx-coreml/blob/53d7c434037d23f28f48f23abf50d6574477d917/onnx_co

[2018-10-23 20:19] aseemw commented on #346
@h-shib PR #349 is merged, can you check again, after building from top of master,  if your issue is resolved ?

[2018-10-24 00:45] h-shib commented on #346
My problem was solved. Thank you so much! @aseemw @yuvdar

[2018-10-24 01:06] #346 closed

[2018-11-02 18:37] roozmahdavian commented on #345
Any luck with this? experiencing the same issues

[2018-11-03 03:16] marcoleewow commented on #345
Apparently onnx-coreml still do not support RNNs. My workaround is to create an equivalent Keras model, transferred the weights manually and then used the official keras coreml converter.

[2018-11-04 07:43] sparalic opened #351 "Gather error on when trying to convert from onnx to coreml"
NotImplementedError: Unsupported ONNX ops of type: Gather

Has anyone faced this issue?

[2018-11-05 01:34] genp commented on #333
Hi, I'm confused about what was resolved in this issue. I'm trying to convert a linear layer with bias and getting the error "Error message: This Gemm layer cannot be converted to CoreML inner_product layer". I've built from onnx-coreml master just a few minutes ago, but the error wasn't resolved. Am I missing something? Are linear layers with bias currently supported and I have some other error g

[2018-11-05 02:31] aseemw commented on #345
Yes, RNN support is broken currently in onnx-coreml converter, due to inability to handle gather layer, which is not supproted by CoreML, even though RNN/LSTM layers are.

We will look into it. My guess is that updating the optimizer before conversion can get rid of the gather.

[2018-11-05 02:32] aseemw commented on #350
I am closing this issue now. Please open it if there is a blocking issue.

[2018-11-05 02:32] #350 closed

[2018-11-05 02:34] aseemw commented on #351
Gather is not available in CoreML, hence not supported by the converter.
Your issue might be similar to #345

[2018-11-05 02:36] aseemw commented on #333
This is likely because you model is slightly different.

There are 3 checks that can raise this error, can you inspect which one of these are raised by your model?

(See: https://github.com/onnx/onnx-coreml/blob/0ecca747f06e9861045a812f25d4a66f62173565/onnx_coreml/_operators.py#L1025)

[2018-11-05 18:02] genp commented on #333
It's an error from the first condition:

if node.attrs.get("transB",0) != 1:

If I instantiate the original model with a linear layer that has no bias term, I can convert successfully. I suppose that is different than the problem described by this issue, which was converting a no bias linear layer ( out =wx ) not ( out = wx +b ). Sorry for the confusion!

[2018-11-05 19:33] aseemw commented on #333
CoreML does not support all the variants of the generic "GEMM" layer, only the matrix-vector specific case.
Can you provide a tiny code block that generates the ONNX model with GEMM layer that has the "transB" set to 0? Maybe there is a workaround involving CoreML "inner_product" and "transpose" layers that can get the job done.

[2018-11-05 20:39] genp commented on #333
One question, why isn't Gemm without TransB supported in onnx-coreml? I'm
trying to convert from a pytorch model saved in onnx. Pytorch's
onnx.export() function exports Linear layers with bias as a Gemm with alpha
== beta == 1.0 and transa == transb == 0.0. It seems non-trivial to get
around this, and Linear is a very typical kind of layer.
Is there a place besides github issues to post this quest

[2018-11-06 01:54] aseemw commented on #333
Hmm, when I tried a pytorch (0.4.1) linear layer with bias, I got an onnx model with transB=1
(see here: https://github.com/onnx/onnx-coreml/blob/32df62e1292aaf1fc81de1e3d80323a91366ee6d/tests/model_test.py#L61)

Anyways, it turns out that the transB check was unnecessarily strict. PR #352 does away with that.
Please try again your model with that PR

[2018-11-06 14:51] kilotaras opened #353 "ConvTranspose2d with groups doesn't work"
The following code will fail

[code]

Looks like the problem is at https://github.com/onnx/onnx-coreml/blob/a8a63182831c3e415056db01b16eac93e562b156/onnx_coreml/_operators.py#L354

as weight shape will be different from output if you have groups, but I don't know internals of the library enough to fix it correctly.

[2018-11-06 23:01] aseemw commented on #353
Yes there was a bug in the converter. PR #354 should resolve it.

[2018-11-06 23:01] #353 closed

[2018-11-06 23:01] #333 closed

[2018-11-07 21:18] steindor commented on #345
Having trouble converting a simple resnet34 from PyTorch b/c of missing Gather support. Tried using a the same custom conversion function as implemented by @marcoleewow but unfortunately get an error:

`Traceback (most recent call last):
  File "conv_pytorch.py", line 31, in <module>
    coreml_model = convert(model_proto, add_custom_layers=True, custom_conversion_functions={'Gather':convert_gathe

[2018-11-08 00:03] aseemw commented on #345
Gather is not supported in CoreML (Slice is).

Sometimes gather can be mapped to a slice layer, in which case, I think onnx-converter can potentially translate it.

Can you try PR #355 and see if it helps for your resent-34 model? There is a small optimization in that PR that removes a gather op if its input is a constant.

[2018-11-12 16:57] jbmaxwell opened #356 "Installation error with coremltools 2.0"
I'm trying to set up a fastai v1 environment (python 3.7), ultimately for deployment on iOS. However, I'm not able to install onnx-coreml for some reason. Running `pip install -U onnx-coreml` I get the error: `No matching distribution found for coremltools>=2.0 (from onnx-coreml)`.

[2018-11-12 16:59] jbmaxwell commented on #356
Sorry for the spam. Tried again with `pip3` and installation completed.

[2018-11-12 16:59] #356 closed

[2018-11-12 17:54] jbmaxwell commented on #356
No, this doesn't actually work. I cannot import onnx_coreml: `ModuleNotFoundError: No module named 'onnx_coreml'`. I'm on python 3.7.0.

[2018-11-12 18:01] jbmaxwell commented on #356
Strangely, I can use the command-line script (convert-onnx-to-coreml). So I guess it must be some environment problem... Mind you, on conversion I get the error: `NotImplementedError: Unsupported ONNX ops of type: Gather`... I guess this isn't going to be a realistic goal, for now.

[2018-11-12 18:52] jbmaxwell commented on #356
Ah, okay. I wondered about python 3.7, but I didn't see that specific requirement... I'll try to give that PR a go a little later. Thanks.

[2018-11-12 21:36] jbmaxwell commented on #356
Yes! That PR worked. Thanks! Haven't tried importing it to Xcode yet, but it's not a model I plan to use anyway; just a test. I'm fine using the command-line converter, for now, but I'll keep my eye on coremltools for a 3.7 support update.

[2018-11-14 23:26] genp opened #358 "Deprocessing args cause error in convert"
I am converting a simple autoencoder from an ONNX model file to coreml using this command:
[code]
Where the cmdline args are:
[code]
The ONNX model is defined like this:
[code]
And the output of the convert command is:
[code]

The convert function does not appear to be handling the deprocessing args or it isn't recognizing that the image_output_names are in the processed feature output.

[2018-11-14 23:32] genp opened #359 "POW function not supported"
Can we get this function?

[2018-11-14 23:34] genp commented on #358
Correction: this works if the image_output_names is set correctly. However, it would be nice to be able to rename the image output instead of having to match it. When converting to ONNX as an intermediate stage to get to CoreML, the ONNX files will often have autogenerated layer names.

[2018-11-14 23:34] #358 closed

[2018-11-18 07:21] wgoldie opened #361 "Remove `mode` parameter?"
It doesn't seem like the `mode` parameter actually does anything. If I'm correct, it should be removed, as it is misleading.

[2018-11-18 08:52] #361 closed

[2018-11-18 08:52] wgoldie commented on #361
Nevermind, I was missing a key line

[2018-11-19 15:14] pavan4 opened #362 "Issue when using matmul"
Hello,

I am trying to convert a pytorch model to coreml. It converts to onnx properly but when exporting to coreml I have the following error

`Missing initializer error in op of type MatMul, with input name = <layer no>, output name = <layer no>. Error message: Second input to Matmul layer must be a constant`

my `forward` function looks like so

[code]

The networks works properly with pytorch.

[2018-11-20 01:37] #359 closed

[2018-11-20 01:37] #351 closed

[2018-11-20 01:38] aseemw commented on #362
Yes the other input must be a constant, thats the only mode supported by CoreML.
You can look to use CoreML custom layers for any layer type that is not supported.

[2018-11-20 01:48] sparalic commented on #351
Thank you!! I will try it this weekend.

Sent from my iPhone

[2018-12-04 04:38] btomtom5 commented on #344
The newest version of onnx-coreml now will remove the Gather operation from the graph if the inputs are constant thanks to @aseemw !!  Install from source https://github.com/onnx/onnx-coreml

[2018-12-05 12:42] glenn-jocher opened #363 "iOS ONNXLive Demo Black Screen"
I am trying to run the iOS demo featured here:
https://pytorch.org/tutorials/advanced/ONNXLive.html

I build and run the app on my physical iPhone XS (iOS 12.1), I authorize the app to use the camera, and then I see Xcode debug error (out of memory). I notice the default CoreML models are set up for 1080 x 1080 size images, which is large, so I downsize to new 250 x 540 CoreML models per pytorch t

[2018-12-05 17:14] aseemw commented on #363
Does the .mlmodel work fine when you call predict using coremltools in python?

[2018-12-05 17:32] glenn-jocher commented on #363
The pytorch models work correctly, I had not tested them in python after export to .onnx and then .mlmodel.

I got it all working in the end by assigning the last layer name according to the Inputs and Outputs name that showed in Xcode for the mlmodel. I have no idea why, but the last layer is called '156', even though pytorch shows only 61 layers. I believe the conversion from pytorch to onnx cre

[2018-12-05 17:37] aseemw commented on #363
Yeah pytorch layers gets split into smaller mathematical ops, so thats not surprising.

Please test in coremltools first, thats easier to debug than Xcode.

[2018-12-10 18:16] aseemw commented on #364
CoreML does not support "Shape, Tile" layers so the converter cannot support them. For feature requests to CoreML framework, please file a bug at https://developer.apple.com/bug-reporting/

Did you try using the tip of master from this branch while converting your model? Some of the optimizations that have gone in recently, can get rid of these ops from the onnx model prior to conversion.
If that

[2018-12-11 14:40] arsenyinfo opened #365 "Segmentation fault with pytorch 1.0"
I'm facing a segfault when using `torch==1.0` and onnx-coreml from the current master (commit https://github.com/onnx/onnx-coreml/tree/da33f4f0efde2245925b3a2444973786a3a91e0d) on Ubuntu 16.04 servers. Conversion is successful in the same environment with `torch==0.4.1`.

Script to reproduce:

[code]

[2018-12-12 19:06] genp opened #366 ""stringClassLabels" unavailable when using class_labels arg in convert"
The follow error is happening for me when I try to convert an onnx model and include the string class names. Without class labels the conversion is successful.

[code]

I'm having a hard time even debugging this error. Any guidance?

The original call looks like this:

[code]

[2018-12-13 00:03] genp commented on #366
Adding the mode arg did help, but then I ran into this error sadly:
[code]

The model I'm trying to export has two outputs and the classLabel output is the third.

[2018-12-13 00:06] #366 closed

[2018-12-13 02:53] genp opened #367 "Error converting network layer with mean operation"
I'm trying to convert a layer which uses a simple mean function as the last step in the forward function.  I'm getting this error during conversion. Without the mean I have no problems. Any thoughts?

[code]

[2018-12-13 16:06] aseemw commented on #367
Can you inspect the onnx model using Netron and check the values of the [attributes](https://github.com/onnx/onnx/blob/master/docs/Operators.md#reducemean) if the op "ReduceMean" ?

It looks like those attributes are not supported by CoreML.
Since its the last op, one workaround is to convert till the penultimate op (there might be some way to edit the onnx model to remove the last op, since its a

[2018-12-18 14:53] marvelousNinja commented on #365
I've investigated this a bit, and there still might be an issue with onnx-coreml.
PyTorch 1.0 uses a new version of Upsample op from ONNX.
Changes were introduced by this commit: https://github.com/pytorch/pytorch/commit/02d3787a192b1d51e572fc82f75284b523e4921d

I was able to get past the segfault on a Mac OS Mojave (without CUDA) and actually compile the model following these steps:
1. Install on

[2018-12-18 18:19] aseemw commented on #365
I see. Thanks for investigating and the solution!
For now onnx-coreml has only been tested against onnx 1.3.0, which is the latest released version on PyPI.
This can be done once onnx support is upgraded in onnx-coreml. I'll keep the issue open as an enhancement.

[2018-12-22 19:32] glenn-jocher opened #368 "NotImplementedError: Unsupported ONNX ops of type: Constant"
I'm trying to export the following yolov3-tiny.onnx model to CoreML which I originally exported from PyTorch 1.0 correctly. The pytorch model originates from https://github.com/ultralytics/yolov3, and operates correctly with no issues. There are no PyTorch 'Constant' modules, so I don't understand the origin of the error. Please help.
https://storage.googleapis.com/ultralytics/yolov3-tiny.onnx (35

[2018-12-22 19:32] #363 closed

[2018-12-23 12:40] glenn-jocher commented on #368
I've solved this. Strangely enough it appears the problem was caused by pre-populating a torch tensor (i.e. with zeros) and then redefining its values. I changed my approach to use `torch.stack` and `torch.cat` to create the tensor instead, and now the model appears viewable with the Netron viewer.

[2018-12-23 12:40] #368 closed

[2018-12-23 13:09] glenn-jocher opened #369 "Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)"
I get this error message when trying to export the following yolov3-tiny.onnx model to CoreML which I originally exported from PyTorch 1.0 correctly. I am on a Python 2.7 venv and installed ONNX with `pip install -U onnx-coreml`. The ONNX model is here. Other ONNX models export without issue, but this one causes segmentation fault:
https://storage.googleapis.com/ultralytics/yolov3-tiny.onnx (35 MB

[2018-12-23 14:56] glenn-jocher commented on #365
I have the same problem with a PyTorch 1.0 exported model. I raised an issue here. Not sure why this current issue is closed, as following the pip install instructions leads directly to this problem.

https://github.com/onnx/onnx-coreml/issues/369

[2018-12-24 11:05] glenn-jocher commented on #365
@marvelousNinja I tried your fix, but the current `onnx_coreml/_operators.py` function below looks different than what you have in your comment.

Also, I set a debug breakpoint at the start of `_operators.py` before trying the conversion, but `_operators.py` never appears to be called during the conversion process as the breakpoint was never triggered.

https://github.com/onnx/onnx-coreml/blob/da3

[2018-12-24 14:14] glenn-jocher opened #370 "TypeError: Error while converting op of type: Concat. Error message: unable to translate constant array shape to CoreML shape"
I am receiving the following error message when converting Pytorch 1.0 -> ONNX model to CoreML. It seems to be due to torch.cat() operations. I am using Python 2.7. The ONNX model is available here:

https://storage.googleapis.com/ultralytics/model_concat_error.onnx (35 MB)

[code]

[2018-12-26 04:39] MisonoMayu commented on #345
Im experiencing the same issues. Any idea on how to implement custom conversion functions?

[2019-01-07 16:43] glenn-jocher commented on #345
I get the same error with Shape and Gather in **PyTorch 1.0.0 exporting to ONNX 1.3.0**:

Traceback (most recent call last):
  File "/Users/glennjocher/PycharmProjects/onnx/onnx-coreml/yolov3-tiny_onnx_to_coreml.py", line 208, in <module>
    main()
  File "/Users/glennjocher/PycharmProjects/onnx/onnx-coreml/yolov3-tiny_onnx_to_coreml.py", line 32, in main
    yolov3_model = convert(model_proto, i

[2019-01-07 16:45] glenn-jocher commented on #344
@btomtom5 I get the same error with Shape and Gather in **PyTorch 1.0.0 exporting to ONNX 1.3.0**  installed from source:
[code]

[2019-01-08 04:17] gemfield commented on #365
Currently, once you use pytorch 1.0 &&  the latest onnx_coreml version from pypi && nn.functional.interpolate() API. you will got this issue:

`root@fa2ce328ee30:/home/gemfield/github/log# which python3
/usr/bin/python3
root@fa2ce328ee30:/home/gemfield/github/log# gdb $(!!)
gdb $(which python3)
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License G

[2019-01-09 21:14] stevemurch commented on #365
Ditto here. Seg fault on both Ubuntu 18.04 and Mac OSX Mohave.

[2019-01-09 22:40] smessmer commented on #365
cc @houseroad

[2019-01-10 02:35] dianxin556 opened #373 "ReshapeInitTensorFuser in transformers removed a reshape layer in onnx model"
when i transform the onnx model to coreml. I got an error like this:
`179/182: Converting Node Type Sub
Traceback (most recent call last):
  File "/home/dianxin/inpainting/pytorch-inpainting-with-partial-conv-master/onnx_to_coreml.py", line 11, in <module>
    coreml_model = convert(model_proto, image_input_names=['0'], image_output_names=['186'])
  File "/usr/local/lib/python2.7/dist-packages/onn

[2019-01-10 09:30] dianxin556 commented on #370
I meet the same problem while converting op of type: Add .For this op, it has 2 inputs, one is in the inputTensor, and its shape is [1,3,1,1], another is in onnx_coreml_shape_mapping, its value is [1,2,3,4].But in _convert_const func, it lacks of len(shape)==4: since the inpute tensor is a constant with shape [1,3,1,1].

[2019-01-10 18:24] joninsky opened #374 "Key Error: u'Constant339'"
I'm trying to convert the [emotion_ferplus.onnx model](https://github.com/onnx/models/tree/master/emotion_ferplus) into CoreML.

I installed `onnx-coreml` using pip. I then downloaded the model and put it into a folder with this python script:

[code]

I run the python script but get the error logs:

[code]

I'm an iOS developer who is new the the world of machine learning so I'm probably missing

[2019-01-12 00:15] joninsky commented on #374
`Dockerfile` that I was able to reproduce the issue in.

[code]

The `convert.py` file has the python code that is in the original question.

[2019-01-13 16:15] chinmaydas96 opened #375 "Error message: {}\n".format(node.op_type, err_message, ) TypeError: Error while converting op of type: MatMul. Error message: CoreML incompatible axis placement"
I am trying to convert a Pytorch model to .mlmodel. so I am first converting .pth file to .onnx file then .onnx file to .mlmodel file.

My Input size is : (1,3,299,299)

Here is my code for conversion:

    class DenseNet(nn.Module):
        def __init__(self):
            super(DenseNet, self).__init__()

            # get the pretrained DenseNet model
            densenet = models.densenet161(pr

[2019-01-15 07:45] houseroad commented on #365
Thanks for reporting the problem. Upsample has changed several times in opset 9. We will add a support to export the onnx to some stable opset (e.g., opset 8). This should be done in two weeks.

[2019-01-17 07:53] dianxin556 commented on #374
I meet the same problem ,and i find the lost key is in input tensor not in node.inputs

[2019-01-27 22:35] calclavia commented on #375
I'm getting the same issue.  With an input of:
[code]

it works, but with
[code]

it will fail with the same error

[2019-01-27 23:14] calclavia opened #377 "Error in re-declaring input when using multiple input"
When initializing an exported model in CoreML, I get the following error:

[code]

To replicate, simply create a linear model with TWO inputs and initialize in CoreML. A single input model works but once you add another input it crashes (e.g A GRUCell taking previous hidden state).

[code]

[2019-01-29 18:26] calclavia opened #379 "Slicing: cannot slice along batch axis"
When trying to do a simple slice in the model:

e.g:
[code]

I get this error. Somehow the converter thinks that a slice is occurring in the batch dimension when in reality it's not in the batch dimension.
[code]

[2019-01-29 18:37] aseemw commented on #379
This mode is not supported in CoreML (exactly what is says: "CoreML does not support slice along the batch axis" ), hence the error raised by the converter.

Do you have a python snippet to reproduce the error, there might be a workaround for the error.
What is the rank of the model input?
You maybe be able to use "onnx_coreml_input_shape_map" argument to force a different mapping of the input to

[2019-01-29 19:19] calclavia commented on #379
I'm trying to get a causal convolution working. Here's a module in Pytorch that will trigger the error:
[code]

[2019-01-31 12:57] MisonoMayu opened #381 "Convert conv ops after reshape error"
I am trying to convert a TCN model to CoreML and run into error like:

8/185: Converting Node Type Conv
Traceback (most recent call last):
  File "/opt/project/deepspeech.pytorch/onnx2coreml.py", line 12, in <module>
    coreml_model = convert(model_proto)#, image_input_names=['0'], image_output_names=['186'])
  File "/home/user/miniconda/envs/py36/lib/python3.6/site-packages/onnx_coreml/converter

[2019-01-31 15:37] Dimbl4 commented on #365
@glenn-jocher  I had some problems in conversation with Upsample.

[code]

I've solved it by replacing in site-packages/onnx_coreml/_operators.py (place where your libraries are installed)

`scales = node.attrs["scales"]`

on

[code]

python 3.6.4
torch	1.0.0
onnx 	1.4.1
onnx-coreml	0.3.0

[2019-01-31 17:37] aseemw commented on #381
It should work. see this test: https://github.com/onnx/onnx-coreml/blob/8a09c2c3a9ff6789f4dd35a12f5b8091f188f5b9/tests/model_test.py#L212

Can you produce a small unit test that reproduces the error?

[2019-02-01 05:31] MisonoMayu commented on #381
Is it a bug with view()? even if I replace conv1d with conv2d I still get the same error
`                self.conv = torch.nn.Conv1d(64,
                                            out_channels,
                                            kernel_size=(1,kernel_size),
                                            stride=stride,
                                            padding=0,

[2019-02-01 06:12] MisonoMayu commented on #381
I modified the dynamic reshape test
`
                self.conv = torch.nn.Conv1d(in_channels=300,
                                            out_channels=32,
                                            kernel_size=3,
                                            stride=1,
                                            padding=0,
                                            bias=True)

            def

[2019-02-01 06:38] MisonoMayu commented on #381
I also tried last after reshape and linear and they both worked fine.

[2019-02-01 07:21] MisonoMayu commented on #381
And I modified _operators.py
    elif len(target_shape) == 3:  # (C,H,W)
        coreml_shape = (
            1, target_shape[0], target_shape[1], target_shape[2]
        )
        if _is_input_shape_mapping_defined(node, graph):
            graph.onnx_coreml_shape_mapping[node.outputs[0]] = [2,3,4]
to
    elif len(target_shape) == 3:  # (C,H,W)
        coreml_shape = (
            1, target_shape

[2019-02-01 10:04] mayokaze commented on #381
Hi, I just created a pr use my private account to fix this error.

[2019-02-01 20:33] MisonoMayu commented on #381
It's solved in #382 , close for now.

[2019-02-01 20:33] #381 closed

[2019-02-08 21:20] Umity opened #385 "New sequence lenght computation failed"
Hi, i am trying to convert onnx model to coreml model but it is failing to do the job properly..

here is the error msg i am getting:

Translation to CoreML spec completed. Now compiling the CoreML model.
2019-02-09 00:12:44.835 python[5285:954976] IMPORTANT: new sequence length computation failed, falling back to old path. Your compilation was sucessful, but please file a radar on Core ML | Neura

[2019-02-08 21:23] Umity commented on #385
And here is my onnx_to_coreml.py file:
import sys
from onnx import onnx_pb
from onnx_coreml import convert

model_in = sys.argv[1]
model_out = sys.argv[2]

model_file = open(model_in, 'rb')
model_proto = onnx_pb.ModelProto()
model_proto.ParseFromString(model_file.read())
coreml_model = convert(model_proto, image_input_names=['inputImage'], image_output_names=['outputImage'])
coreml_model.save(mode

[2019-02-08 22:55] aseemw commented on #385
The error you get is just a warning, so you can safely ignore.
Regarding the issue you are hitting, something else might be going on.

For your original onnx model: what are the input and output names and their corresponding full shapes?

[2019-02-09 12:18] Umity commented on #385
Hello Aseem, thank you so much.

Well, that's a good question. First, I used a dataset that consist of 2500 around photos and it didnt give me any .pth model file. But it produced .model file. I tried to convert them to onnx and then coreml but it failed, the same fail as i told above. But then as a test, i downloaded some .pth files (candy.pth i used as a test) and it failed again. I mean, maybe

[2019-02-09 14:41] aseemw commented on #385
in your code snippet above you mentioned
`coreml_model = convert(model_proto, image_input_names=['inputImage'])`
however, if you look at the .onnx file (you can visualize it in [netron](https://github.com/lutzroeder/netron))
the input name is actually "input.1", so please use that instead
`coreml_model = convert(model_proto, image_input_names=['input.1'])`

[2019-02-09 21:28] glenn-jocher commented on #365
@Dimbl4 yes your solution works well, you should submit a PR. My solution was to install onnx-coreml using `pip install -U onnx-coreml` as usual. Then:

1. Place the https://github.com/onnx/onnx-coreml/tree/master/onnx_coreml directory in the local project directory, so `import onnx_coreml` statements would direct to this local folder.
2. Use your code to modify the `_convert_upsample()` function

[2019-02-11 09:29] yizhaoyanbo opened #387 "fatal: not a git repository: /home/onnx-coreml/build/onnx/onnx/../../.git/modules/third_party/onnx"
I wanna to install the onnx-coreml from source to solve the "Unsupported Gather type error". When I implement this step "./install.sh", this  error occured.

[2019-02-11 16:12] aseemw commented on #387
@smessmer do you know what could be going on?

[2019-02-12 10:00] yizhaoyanbo opened #389 "UIImage and MultiArray"
`onnx_model = onnx.load("model.onnx");
cml_model= onnx_coreml.convert(onnx_model,None, image_input_names='data');
cml_model.save("model.mlmodel");`

I wanna to use UIImage as input in coreML. So I set "image_input_names = 'data' " in the convert API. But the model's input is still multiArray. How can I deal with it?  3Q.

[2019-02-12 10:07] yizhaoyanbo commented on #387
I  install from source using this method "  pip install git+https://github.com/onnx/onnx-coreml.git  ". no problem.

[2019-02-12 10:12] mayokaze opened #390 "Slicing is buggy when convert from Pytorch 1.0(and above)"
As in #379 mentioned, Slicing is bugging with newest versions of Pytorch. I investigated a little bit further and found the bug comes from .onnx model. In version 1.0 Pytorch generates slicing ops for each dimension even if there is slicing on it. The code snippet from test_1d_conv
`return result[:, :, :-self.__padding]`
fails with error
 `Traceback (most recent call last):
  File "model_test.py",

[2019-02-15 17:48] jbmaxwell opened #391 "NotImplementedError: Unsupported ONNX ops of type: RandomNormal"
I'm hitting this Unsupported ONNX ops error when trying to convert a VAE from PyTorch to ONNX to CoreML.

The only place I use `randn()` in the model is in the `reparametrize` function:

    def reparametrize(self, mu, logvar):
        std = logvar.mul(0.5).exp_()
        if self.have_cuda:
            eps = torch.randn(self.bs, self.nz, device='cuda')
        else:
            eps = torch.randn(s

[2019-02-15 18:33] aseemw commented on #391
Custom layers.

Since random data generation is n to common for inference tasks, this particular operation is not present in the CoreML spec.

[2019-02-15 18:35] jbmaxwell commented on #391
Ugh... okay, I think I've seen a blog post on that. Will give it a go. Thanks.

[2019-02-16 15:25] jbmaxwell commented on #391
Do you have any suggestions as to how this might be done? The ONNX `RandomNormal` custom layer is failing in Xcode because the layer has no inputs. Can I somehow add a bogus input of some kind?

[2019-02-16 19:32] aseemw commented on #391
Yes you may need to add an input. You can add sth like mean and variance and then produce the output which are samples drawn from that distribution.

[2019-02-18 08:26] pietz commented on #344
@btomtom5 I'm also still getting this error with onnx-coreml 0.3.0

[2019-02-19 16:02] jbmaxwell commented on #11
I'm getting `error in axes alignment between onnx and coreml` when converting ConvTranspose. Is there are further explanation for what's wrong?

[2019-02-19 17:30] sariagoudarzvand opened #392 "issue when converting Keras model"
I am using a OCR code written in keras and I would like to convert it to CoreMl,
It raises this error
[code]
any idea how to resolve it?

Thanks

[2019-02-20 01:56] yizhaoyanbo opened #393 "issue about preprocessing image"
With pytorch model, the input image should be preprocessed. the steps include normalizing to 0-1,  subtracting r， g， b mean value， dividing std. But the convert function don't have proper arguments to do the dividing std step. How can I deal with it?  Thanks very much.

[2019-02-20 02:01] aseemw commented on #393
If these operations are part of the graph itself, i.e. part of the onnx graph, then they should convert as well.

[2019-02-20 02:35] yizhaoyanbo commented on #393
These operations are not part of the graph. I have followed this paper to do the preprocessing. But I have no idea to do the dividing step after the substracting step with the convert function.
 https://machinethink.net/blog/help-core-ml-gives-wrong-output/

[2019-02-20 02:44] aseemw commented on #393
Its not that difficult to build an mlmodel from scratch, since its a protobuf format. See: https://github.com/apple/coremltools/blob/master/docs/APIExamples.md#building-an-mlmodel-from-scratch-using-neural-network-builder

This is what the converter does, collects the layers from onnx graph and converts them one by one to CoreML layers, in this for loop:https://github.com/onnx/onnx-coreml/blob/604

[2019-02-22 05:56] aseemw commented on #390
Can you try using onnx-coreml 0.4.0?
Some of these issues should be fixed in PR #394

[2019-02-22 05:57] aseemw commented on #379
Can you try using onnx-coreml 0.4.0?
Some of these issues should be fixed in PR #394

[2019-02-22 05:57] #379 closed

[2019-02-22 05:58] aseemw commented on #389
maybe the name of the input in onnx model in not 'data'
You should use the name that is given in the onnx model, you can use Netron to visualize and find the name

[2019-02-22 18:16] jbmaxwell commented on #375
What does the error actually mean? I'm having the same problem converting a VAE. It has an `nn.Linear()` at the top of the Decoder, which seems to be where it's hitting the error... ?

[2019-02-22 19:08] aseemw commented on #375
what is the value of `mapp` when the error is encountered at https://github.com/onnx/onnx-coreml/blob/001679d3f006133706b47cdf02955133377f8298/onnx_coreml/_operators.py#L1134 ?

CoreML tensors are laid down in static 5 shape : (Seq, Batch, C, H, W)
From free rank onnx vectors, the converters tries to determine a mapping to the CoreML shape.
For example: (10,3,4) can be mapped to say (10,3,4,1,1) o

[2019-02-22 19:17] jbmaxwell commented on #375
Well, I don't actually hit that error in `_convert_gemm`, it's in `_convert_matmul`, but the mapp is `[1, 2, 3, 4]`.

[2019-02-22 19:45] aseemw commented on #375
is this the error you get when the code snippet you gave earlier is executed?
What is the dimensions of the input tensor you give?

[2019-02-22 20:06] jbmaxwell commented on #375
Yes, the error is the same as this thread: `Error while converting op of type: MatMul. Error message: CoreML incompatible axis placement`. The mapp is `[1, 2, 3, 4]`, printed right before the `else:` in the `_convert_matmul` function:

    if node.inputs[0] in graph.onnx_coreml_shape_mapping:
        mapp = graph.onnx_coreml_shape_mapping[node.inputs[0]]
        if mapp == [1,2] or mapp == [0,2]:

[2019-02-22 20:22] aseemw commented on #375
The test added on PR #396 , based on your code snippet, works fine.

[2019-02-22 20:33] jbmaxwell commented on #375
It will be about 30-45 mins, but I'll update this post when I've tried it.

[2019-02-22 21:33] aseemw commented on #375
please see https://github.com/onnx/onnx-coreml#running-unit-tests

[2019-02-23 04:01] jjpd777 opened #398 "NotImplementedError: Unsupported ONNX ops of type: FC"
@bddppq
I am trying to use the ONNX model provided at the end of this [Microsoft Tutorial for Lung-diseases predictions](https://github.com/Azure/AzureChestXRay/blob/master/AzureChestXRay_AMLWB/Code/04_Tutorial/Tutorial_1_Pre_Built_Model_Using_Microsoft_AI_to_Build_a_Lung-Disease_Prediction_Model_Using_Chest_X-Ray_Images.ipynb) using AI. At the end of the tutorial, a ONNX file is provided:
[https:

[2019-02-23 04:06] jamesr66a commented on #398
@dzhulgakov wrote that article

[2019-02-23 04:53] jjpd777 commented on #398
Great thank you very much @jamesr66a

[2019-02-24 12:07] erezposner opened #399 "Concat not supported along batch axis"
Hi, i'm trying to perform a concatenation of 4 layers as follows:

basically input tensor is padded and cropped to 4 identical sized tensors stored at ''res'' eventually to be concatenated.

i get this error:

[code]

a python snippet to reproduce the error is attached below, thank you!

[code]

[2019-02-25 06:05] MisonoMayu commented on #390
Work like a charm, Thank you!

[2019-02-25 06:13] mayokaze commented on #390
Sorry for reopening. After update to new master, I've successfully converted onnx model to mlmodel. But when I load it in an iOS project it still produces error:

`
coremlc: Error: compiler error:  Slice layer: '151': output blob channel dimension size is 0.

Input name(s) and shape(s):
voice_input : (C,H,W) = (1, 161, 500)
Neural Network compiler 0: 100 , name = 130, output shape : (C,H,W) = (32,

[2019-02-25 06:15] aseemw commented on #390
We would need to look into the particular example causing this issue. Can you post a tiny code snippet that produces this issue?

[2019-02-25 06:40] mayokaze commented on #390
Thanks for quick reply. It's strange, I can't reproduce it in the model_test. I have checked model produced by model_test and my own, there's no difference between generated onnx model about the slicing ops but the mlmodel are different. I don't have time to investigate further. Currently I keep a 0.41 version of Pytorch to export onnx file as a workaround. I will investigate it again when I am fr

[2019-02-25 13:57] MetaDev opened #400 "Metal device not found"
when I try to convert a model:
[code]
I get the error:

Any idea to what I am doing wrong?

[2019-02-26 04:43] aseemw commented on #399
what is the shape of `x` that you used in the function call `forward(self, x)`?

[2019-02-26 06:50] erezposner commented on #399
input shape to ```forward(self, x)``` is `[1,8,972,1292]`.

the expected output would be `[4,8,486,646]`. this is accomplished by splitting the `x` last two dimensions into 4 at the size of `972/2=486` and `1292/2=646` stored as 4 different batches.

[2019-02-26 18:56] aseemw commented on #399
CoreML tensors are rank 5 (internally) : [Seq, Batch, C, H, W]. Concat operation is not supported along the Batch axis. In fact its only supported along C axis, the converter internally transposes the tensors to support all other axis except batch. (transpose layer does not move the batch dimension which is sort of fixed)

so maybe you can try reshaping the tensor to rank 5 before concat to give (

[2019-02-28 02:11] yizhaoyanbo opened #401 "UnboundLocalError: local variable 'coreml_shape' referenced before assignment"
This error occurs while converting onnx to mlmodel . The whole imformation is following:

`Traceback (most recent call last):
  File "onnx2mlmodel.py", line 8, in <module>
    cml_model= onnx_coreml.convert(onnx_model)
  File "/home/riddick/.local/lib/python3.6/site-packages/onnx_coreml/converter.py", line 464, in convert
    _convert_node(builder, node, graph, err)
  File "/home/riddick/.local/li

[2019-02-28 04:38] aseemw commented on #401
please give details/code snippet to reproduce the error.

[2019-02-28 06:27] yizhaoyanbo commented on #401
@aseemw  My convert code is following:

####################
import sys
import onnx
import onnx_coreml

onnx_model = onnx.load("person_detector_onnx")
cml_model = onnx_coreml.convert(onnx_model)
cml_model.save("person_detector.mlmodel")
#####################

The error occurs in the following function in "_operators.py" file.

thanks very much.

![b6d81c70-2519-41be-9372-faf940d184aa](https://user

[2019-02-28 06:39] yizhaoyanbo commented on #401
[person_detector.zip](https://github.com/onnx/onnx-coreml/files/2913658/person_detector.zip)

@aseemw  the model I used is in the .zip file.   thanks .

[2019-02-28 06:43] OneDirection9 commented on #393
hi, @yizhaoyanbo ,

#338  is a reference that use the `preprocessing_args` to do the preprocess.

[2019-02-28 10:11] yizhaoyanbo commented on #393
@OneDirection9  thanks.

[2019-03-01 10:20] jerett commented on #401
same problem, this occurs when transforming 4D tensor to 6D tensor. just like

[code]

[2019-03-03 02:26] aseemw commented on #401
CoreML transpose and reshape layers cannot directly handle more than rank 4 tensors.
However, patterns like "reshape--> transpose--> reshape", such that the starting and ending tensors are rank 4, can be converted to CoreML.

@yizhaoyanbo @jerett Please check whether you get the error or not using PR #402

[2019-03-05 02:40] #401 closed

[2019-03-11 19:14] alexanderhudym commented on #347
@aseemw Problem is not resolved.
Missing initializer error in op of type Reshape, with input name = 94, output name = 104. Error message: CoreML only supports Reshape layer when the target shape is static and known apriori

[2019-03-13 00:23] alexanderhudym opened #403 "Unsupported ONNX ops of type: Var,Shape,Gather"
I can convert my pytorch model to onnx, but when i try to convert onnx model to mlmodel i receive an error.
NotImplementedError: Unsupported ONNX ops of type: Var,Shape,Gather

if i change add_custom_layers to True i receive other error
ValueError: Missing initializer error in op of type Reshape, with input name = 94, output name = 104. Error message: CoreML only supports Reshape layer when the ta

[2019-03-13 16:13] ElteHupkes commented on #400
So since this is basically the only result on Google for this error, I figured I'd respond - I'm getting it too, using `tfcoreml`. Haven't figured out how to fix it so far, unfortunately.

[2019-03-13 16:20] ElteHupkes commented on #400
Ok scratch that last comment. If I create a fresh Python 3 virtualenv without conda, everything works as expected. No idea what's going on here, conda seems to like messing with me.

[2019-03-27 10:40] raibosome opened #404 "Problem converting ONNX to CoreML for model with multiple outputs"
Hi. I am trying to convert a MobileNet-SSD model from PyTorch to ONNX to CoreML. The model returns a tuple of `(bounding_boxes, confidence_values)`. As I ran the following:

[code]

I got the following error:

[code]

I understand that this has something to do with having the tuple as an output of the model (because I was able to successfully do it by making the model only return `bounding_boxes`)

[2019-04-21 00:36] Russzheng commented on #344
Hi same issue here, I am wondering have you resolved it? Thank you so much.

[2019-04-23 22:40] Russzheng commented on #344
I encountered very similar issues with Gather and Shape layers. I solved the problem by casting tensor shapes to ints
`int(x.shape[0])`

[2019-04-24 14:49] glenn-jocher commented on #344
@Russzheng this gives me warnings on export from pytorch:

[code]

[2019-04-24 20:52] Russzheng commented on #344
Hi, if you are explicitly using the tensor shape, then the type casting would make torch.jit unable to track it, so conversion would be wrong. But if you are simply using it as a parameter when creating a layer or etc., it should be totally fine. It will throw warnings, but conversion should be good.

[2019-05-03 05:09] lymanblue opened #405 "Question about validating the converted model"
Hi~

We trained a CNN model by PyTorch on a linux server.
We convert the model in the order of PyTorch => onnx => CoreML in linux.
The input name is set and the preprocessing args are included in conversion.

Could we validate the correctness of the converted CoreML model in linux before transferring it to Xcode?
Or is the iterative development process necessary between linux and mac?

Thank you.

[2019-05-03 05:13] aseemw commented on #405
Since the CoreML framework is only available on Mac, coremltools for prediction only works there. So you would not be able to check the correctness on linux.

[2019-05-03 05:14] lymanblue commented on #405
I see. Thank you for your clarification~!

[2019-05-09 09:13] lymanblue opened #406 "Question about is_bgr flag"
Hi~

We haved tried the following args for preprocessing_args, but the converted coreml model still requires BGRA input.

args = dict(is_bgr=False, red_bias=-1, green_bias=-1, blue_bias=-1, image_scale=2/255.0)

Are there any other settings affecting the input format?
Thank you.

[2019-05-09 15:03] aseemw commented on #406
No other settings. What is the format the original onnx/torch model expects?
If you set the is_bgr=True, then CoreML will convert the input image to BGRA during preprocessing.

[2019-05-09 23:44] lymanblue commented on #406
Hi~

Our expected input format is RGB.
But even we set is_bgr = False, the converted model still requires BGRA format when we import the model in Xcode.

[2019-05-10 05:20] lymanblue commented on #406
Hi~

The BGRA format is shown in the comment of coreml model.
The comment is described as "/// face_img as color (kCVPixelFormatType_32BGRA) image buffer, 112 pixels wide by 112 pixels high" (face_img is our input image name).

This comment is shown even we set is_bgr = False.

[2019-05-13 05:53] yuvdar opened #407 "Clip without 'max' attribute"
https://github.com/onnx/onnx-coreml/blob/0aad50ca811150e556e1f8fc0e3bb2014f20e199/onnx_coreml/_operators.py#L1618

1. When converting an onnx `clip` node, without `max` attribute - we have this line:
`max_limit = node.attrs.get('max',float(2^16-1))`
can you explain it? I would assume it should be `max_limit = node.attrs.get('max',float(2**16-1))`

2. In coremltools, there is a unary layer, that ca

[2019-05-13 17:28] aseemw commented on #407
Yeah it does seem like this translation can directly use the threshold unary function.
If you get a chance please put up a PR, or I'll get to it at some point!

[2019-05-15 14:38] yuvdar commented on #407
Created one!

[2019-05-16 05:41] lyx0124 opened #409 "Compile error invalid dst shape: converted model cannot compile in Xcode"
I am trying to convert StarGAN model (https://github.com/yunjey/stargan) to CoreML model. After adding a customed layer to resolve the problem "Unsupported ONNX ops tile", I successfully got a CoreML model. But when I put it in Xcode, it won't compile. The model is [here](https://github.com/onnx/onnx-coreml/files/3185520/Generator.mlmodel.zip).

The error I got is:
[code]

Any idea how can I fix t

[2019-05-16 05:51] aseemw commented on #409
can you try to compiling it on device using, as discussed here: https://github.com/apple/coremltools/issues/114, and see if that gets rid of the bug?

[2019-05-16 09:40] lyx0124 commented on #409
Thanks for answering! I tried on-device compilation, but still got this:
[code]
So the compiled model is nil and the program crashed.

[2019-05-16 15:24] aseemw commented on #409
It seems its not able to find the implementation of Tile that you provided in code in the Xcode project.

[2019-05-17 02:14] aseemw commented on #409
Which Xcode version and device OS version are you on, when you hit the error?

[2019-05-17 03:40] lyx0124 commented on #409
@aseemw Im building with Xcode 10.2.1, target iOS version is 12.2

[2019-05-17 16:56] aseemw commented on #409
This should work, maybe there is some issue in your project settings that preventing it to find the class with the custom layer implementation?

[2019-05-17 19:09] aseemw commented on #409
It would help if you could file a bug at https://developer.apple.com/bug-reporting/ and attach your Xcode project to it.

[2019-05-18 07:52] lyx0124 commented on #409
I provided Xcode with an incomplete implementation of "Tile", and compiled on device:
[code]
But it seems the output of node "Tile" is still wrong, and it gives me a memory issue:
[code]

[2019-05-18 12:51] lyx0124 commented on #409
Also on device compilation doesn't seem like an option, because it takes too much memory and my iphone cannot compile. If I don't use on device compilation, Xcode will fail compiling the model.

[2019-05-18 20:04] aseemw commented on #409
I see that the output shape of the custom layer that you are returning is [16, 1, 5, 256, 256], and this is supposed to be concatenated with [1,1,3,256,256], so that is wrong as the inputs to the concat Layer can only differ in 1 dimension.

Btw, since the custom layer is right in the beginning of the network, you don't actually need it to be part of the network. the input "0" could be reshaped an

[2019-05-19 01:21] lyx0124 commented on #409
Removing the layer seems a good idea. Is there a way to remove a layer from mlmodel or onnx model? Or do I have to train it all over again?

[2019-05-19 04:39] aseemw commented on #409
Since this layer does not have any weights, retraining is not required.
Yes, you can load the mlmodel spec in python and edit it directly, since it is protobuf format.

For this model, sth like this:

[code]

[2019-05-19 13:55] lyx0124 commented on #409
Thanks! This is very helpful. Because the input "1" is now (5 256 256), I need to convert a (5, 1, 1) label to the input size. MLMultiArray doesn't have any operations like "repeat", "reshape" or even the simplest ones. How can I do this easily in Swift?

[2019-05-19 18:01] aseemw commented on #409
MLArray gives you access to the data pointer, which you are free to modify as you wish.

[2019-05-19 18:19] leonzfa opened #410 "rename feature"
I want to change the output name of my .mlmodel.
[code]
The aboved code can run properly. But when I import the my_model_v2.mlmodel in to Xcode(Swift), it raises the error: "Command CoreMLModelCompile failed with a nonzero exit code".

[2019-05-19 20:31] aseemw commented on #410
Hmm...do you only get the error when you rename the feature? If they are not renamed, does it work correctly?

[2019-05-19 23:44] leonzfa commented on #410
I found that there is a preprocessing (but not named layer) in the spec, which takes “0” as input. I have modified the utils.py file and it works.

[2019-05-21 01:38] xfarxod opened #411 "Concat problem while converting"
I get this error while converting model to core-ml:

[code]

Pytorch tensor shape is:
[code]

`C = torch.cat((A,B),1)`

Expected C value is (1, 129, 128, 256)

I tried reshape tensors to:
[code]

But still have
unable to translate constant array shape to CoreML shape Error.

[2019-05-21 04:24] xfarxod commented on #370
Did you  resolve this issue ?

[2019-05-21 09:24] Ciyou commented on #374
Same problem here. Does anyone have a solution?

[2019-05-21 09:26] Ciyou commented on #374
`File "/Users/***/Library/Python/3.6/lib/python/site-packages/onnx_coreml/_operators.py", line 741, in _convert_bn
    mapp = graph.onnx_coreml_shape_mapping[node.inputs[0]]
KeyError: '244'`

What do these keys mean in `graph.onnx_coreml_shape_mapping`?

[2019-05-21 10:06] Ciyou commented on #374
Now I figured out that the keys are `node ID` in a model. And my problem occurred in a BatchNormalize node where get its input from a Conv node which has the node id `244`. But why there's no `244` in the shape map?

[2019-05-31 18:35] ayushoriginal commented on #344
I'm still getting NotImplementedError even after installing from source

[2019-06-09 10:14] SumatP commented on #362
I believe CoreML 3 supports this through the BatchedMatMulLayer. Is there an estimate of when onnx-coreml will support CoreML 3?

Also, custom layers to replace MatMul with this functionality currently don't work for me unless I rename the MatMul node to something else, this isn't a huge issue though.

[2019-06-16 05:56] noyami2033 opened #413 "why not coreml reduce operator support Batch dim?"
https://github.com/onnx/onnx-coreml/blob/cd4e491a61daeb9f1d56d3e277ed3d06c40bd7ad/onnx_coreml/_operators.py#L964
Thank you for coreml.
I would like to use a  reduce mean operator in dim 0 which is batch dim. But in the code above that, it seems like batch dim is not supported.
the error message is
`TypeError: Error while converting op of type: ReduceMean. Error message: Unable to translate axes at

[2019-06-24 10:47] iiSeymour commented on #345
I'd also like to convert a recurrent model and get running with CoreML.

@aseemw does https://github.com/onnx/onnx-coreml/pull/412 help with getting GRU/LSTM conversion supported?

[2019-06-24 15:36] aseemw commented on #345
Yes, with the new layers added in CoreML spec, GRU/LSTM conversion can be supported.
However, more work is to be done in addition to the current PR #412 to fully support models with any new layer introduced in CoreML 3 (coremltools 3 beta release), as explained in the comment in PR #412.

We are planning to do an update of the onnx converter for CoreML 3 (spec version 4).

[2019-06-24 15:55] iiSeymour commented on #345
Good to hear it's on the roadmap, thanks @aseemw.

Until then, what is the recommended way forward for evaluating RNNs with CoreML *(keras)*?

[2019-06-24 16:01] aseemw commented on #345
Yes, keras is definitely the most smooth route at the moment.
There is also the beta tfcoreml converter that can handle recurrent networks (https://github.com/tf-coreml/tf-coreml#new-beta-tfcoreml-converter-with-core-ml-3). That too is under progress and undergoing improvements.

[2019-06-26 15:11] iiSeymour commented on #345
@aseemw will GRUs with `linear_before_reset` set be supported?

[2019-06-26 17:52] aseemw commented on #345
Hmm....can me point me to what ``linear_before_reset`` is?

[2019-06-26 17:59] iiSeymour commented on #345
See the onnx description [here](https://github.com/onnx/onnx/blob/master/docs/Operators.md#GRU)

[2019-06-26 18:00] aseemw commented on #345
okay...yeah I'll have to double check if the GRU layer in CoreML spec has that option, even if it doesn't we should be able to build a GRU cell from control flow layers from scratch and implement it that way.

[2019-07-05 10:01] lgyStoic opened #414 "input image problem with pytorch model to coremlmodel"
I have a pytorch model  with input 3 * 1000 * 1000(CHW), output 3 * 2000 * 2000 as super resolution, then convert to coreml model,  Then I write a checker for pytorch model,  the result is correct. Because I use torchvision do image preprocess, so I store processed data in .npy file .  Use that .npy file, and I am confirm the result in coreml model.

`But` when I use onnx-coreml convert function,

[2019-07-05 10:01] lgyStoic commented on #414
Input name(s) and shape(s):
lr_image : (C,H,W) = (3, 1000, 1000)
Neural Network compiler 0: 100 , name = 59, output shape : (C,H,W) = (3, 1000, 1000)
Neural Network compiler 1: 100 , name = 60, output shape : (C,H,W) = (64, 1000, 1000)
Neural Network compiler 2: 100 , name = 61, output shape : (C,H,W) = (64, 1000, 1000)
Neural Network compiler 3: 130 , name = 62, output shape : (C,H,W) = (64, 1000

[2019-07-08 14:32] nitsanp opened #415 "NotImplementedError: Unsupported ONNX ops of type: ConstantOfShape"
Hi

I'm trying to export onnx to core ml and I'm getting the following error:

`---------------------------------------------------------------------------
NotImplementedError                       Traceback (most recent call last)
<ipython-input-36-b188608f0d78> in <module>()
----> 1 mlmodel = onnx_coreml.convert(model_onnx)
      2 # mlmodel.save('models/pytorch_lstm12_1000_300619.mlmodel')

~/a

[2019-07-08 15:39] iiSeymour commented on #345
@aseemw I'm looking at the tfcoreml converter and it doesn't seem to have any support for recurrent networks, am I looking in the correct [place](https://github.com/tf-coreml/tf-coreml/blob/master/tfcoreml/_ops_to_layers.py#L5)?

[2019-07-09 17:08] bhushan23 commented on #415
I will be sending PR this week

[2019-07-09 17:19] bhushan23 commented on #414
can you share your model?

[2019-07-09 17:41] bhushan23 commented on #411
@xfarxod can you try with latest beta coremltools 3.0b2?

Following works without any error with latest beta
[code]

[2019-07-09 18:16] bhushan23 commented on #410
@leonzfa what modification resolved the issue? You can send PR if you think it's a generic fix

[2019-07-11 06:29] Vampire-Vx commented on #344
Is there any solution yet? Still get the gather and group unsupported error..

[2019-07-11 21:04] ayushoriginal commented on #344
Myunderstanding is that most of the limitations came from the layers available in the CoreML NN specification and not from the converter. However, since CoreML 3 beta has just been released during WWDC, and it has many more ops like ONNX, the converter should be able to make use of that. In the next couple of months, the Apple team might considerably update the ONNX converter with the new layers,

[2019-07-11 22:25] aseemw commented on #344
Yes, updating of the onnx converter for the new CoreML spec is in the works and updates would be pushed over the next few weeks.

[2019-07-12 17:09] bhushan23 commented on #407
Fixed with https://github.com/onnx/onnx-coreml/pull/408

[2019-07-12 17:09] #407 closed

[2019-07-12 17:10] #405 closed

[2019-07-12 17:47] #391 closed

[2019-07-12 18:47] bhushan23 commented on #414
@lgyStoic can you provide model and image?

[2019-07-12 20:12] bhushan23 commented on #404
@raibosome currently, converter requires softmax on axis 1 - here https://github.com/onnx/onnx-coreml/blob/cd4e491a61daeb9f1d56d3e277ed3d06c40bd7ad/onnx_coreml/_operators.py#L1099

Issue looks like with `confidences = F.softmax(confidences, dim=2)`

But as per your experiments, it works fine if you only return one value, this is weird. Could you please give a try and re-run the experiment?

[2019-07-12 20:18] #411 closed

[2019-07-12 21:45] #400 closed

[2019-07-12 22:21] bhushan23 commented on #411
Closing as issue no longer exists

[2019-07-12 22:22] bhushan23 commented on #400
Issue resolved.

[2019-07-12 22:34] bhushan23 opened #423 "test temp issue"
temp issue for testing integration

[2019-07-12 22:35] bhushan23 commented on #423
Testing done. Integration works fine. Closing.

[2019-07-12 22:35] #423 closed

[2019-07-12 23:38] bhushan23 commented on #391
Issue resolved with suggestion of adding custom layer.

[2019-07-14 07:07] nitsanp commented on #415
OK, waiting.

[2019-07-23 14:47] xfarxod commented on #411
Thank you for your response and sorry for my late reply.
Works for me!!!

[2019-07-24 23:11] bhushan23 commented on #415
@nitsanp ConstantOfShape support has been added with https://github.com/onnx/onnx-coreml/pull/424
Could you please give a try?

[2019-07-25 17:33] iiSeymour opened #426 "Segfaulting tests with Catalina"
Running the test suite under the latest 10.15 beta results in a segfault.

[code]

System Info

[code]

[2019-07-25 17:51] iiSeymour commented on #426
I've identified the problematic test as `tests/operators_test.py::SingleOperatorTest::test_avg_pool`.

[code]

Excluding `test_avg_pool` the tests finish with the following results:

[code]

[2019-07-26 00:22] aseemw commented on #426
Thank you @iiSeymour for finding the failure.
Seems to be a bug in the CoreML framework when CPU backend is used, we will look into it.

[2019-07-26 06:11] bhushan23 commented on #415
@nitsanp ConstantOfShape and LSTM is now supported in CoreML 3
Note that, you will need to use Mac OS 10.15 beta
please use `disable_coreml_rank5_mapping=True` flag while converting to enable nd-tensor conversion path

[2019-07-29 17:08] iiSeymour opened #430 "Log accurary with CoreML3"
I was looking at adding some element-wise operations *(`Neg`, `Abs` and `Log`)* and noticed the results for `Log` seem off?

[code]

Using the above script to convert a `torch` model to `coreml` and comparing the results shows poor accuracy for the `log` operation.

[code]

*Note: Same system info as #426.*

[2019-08-01 15:30] dnnagy commented on #415
I had a similar issue with `ConstantOfShape`, `LSTM`, `Gather`, and setting `add_custom_layers` to true solved it for me. I have not tested the converted model yet, but at least it converts without error message.

[2019-08-06 08:50] nitsanp commented on #415
Thank you @dnnagy, when I set `add_custom_layers=True` I don't get that error anymore, but I still get an error when it arrives to the LSTM layer:
`ValueError: array split does not result in an equal division`

[2019-08-06 09:05] nitsanp commented on #415
@bhushan23 I don't understand where to find this flag

[2019-08-06 09:05] nitsanp commented on #415
@bhushan23 I don't understand where to change this flag.

[2019-08-06 09:47] dnnagy commented on #415
@nitsanp I can convert my model to `.mlmodel` format, but when I try to integrate it in my app, i get an error in Xcode:
<img width="696" alt="Screenshot 2019-08-06 at 11 44 58" src="https://user-images.githubusercontent.com/12029086/62529875-cc353400-b83f-11e9-94f6-78da4e610d94.png">
I think, we cannot use LSTMs currently, because it was introduced in CoreML 3, and is currently available only in

[2019-08-06 10:33] nitsanp commented on #415
Thank you, I hope it will be available soon.

[2019-08-06 17:00] bhushan23 commented on #415
@nitsanp you can pass `disable_coreml_rank5_mapping=True` to convert method here https://github.com/onnx/onnx-coreml/blob/master/onnx_coreml/converter.py#L337

This option disables rank5 mapping and allows usage of ops with nd tensor support i.e. newly introduced layers in CoreML

I see, it's not mentioned in README. Will make a change to specify what this option does.

[2019-08-10 15:30] zlinwei opened #443 "ValueError: Unsupported ONNX attribute: name: "body""
I download the yolov3.onnx from onnx's model zoo, then I got this exception, here is my code:
[code]

[2019-08-11 09:20] nitsanp commented on #415
@bhushan23
OMG it worked!!!!! thank you so much!!!!!

[2019-08-12 16:03] glenn-jocher opened #444 "NotImplementedError: Unsupported ONNX ops of type: Cast,Floor"
When using coremltools to convert an ONNX model that had been exported from PyTorch 1.2.

[code]

The offending lines seem to be complaining about the Upsample module:
[code]

but if I look at the upsample code there is nothing to correct:
[code]

[2019-08-12 16:46] bhushan23 commented on #444
@glenn-jocher looks like you are not disabling the rank5 mapping
Cast and Floor are implemented in CoreML 3.0 and hence, you need to pass the `disable_coreml_rank5_mapping=True` to convert method
check here: https://github.com/onnx/onnx-coreml/issues/415#issuecomment-518756496

[2019-08-12 23:58] JT-101 opened #445 "TypeError: Unsupported activation type with Recurrent layer: Sigmoid."
Hello,

I'm having issues converting an LSTM ONNX network (exported from Matlab) to an MLModel:

mlmodel = convert(onnx_model, disable_coreml_rank5_mapping=True)            1/8: Converting Node Type LSTM

Warning: Unsupported Feature in op of type LSTM, with input name = sequenceinput, output name = . Warning message: Forward and backward pass will use same activations.

Traceback (most recent cal

[2019-08-13 12:40] yizhaoyanbo commented on #406
@aseemw  Hi, I am confused about the "is_bgr" flag. I have trained my model use pytorch and the model input is rgb format and output is rgb format too. I convert the model from pytorch to onnx and then from onnx to mlmodel.  When I convert it from onnx to mlmodel, I set is_bgr=False.  In my xcode project, I give the rgb format image to the model, but the output image is bgr format.   I wonder that

[2019-08-13 15:07] alperv opened #446 ""pixel_shuffle_reshape" has already been added. Please use a unique name."
While converting a pytorch model to ONNX, I believe there's name clash issue in `PixelShuffleFuser` if the graph has more than one PixelShuffle RTRTR group. This is on latest master (currently at 855a0e18a932e8ab445f0d9c56fd10560a81a7b7) converting with `disable_coreml_rank5_mapping=True`

I think something funky is going on in [ _transformers.py:496](https://github.com/onnx/onnx-coreml/blob/maste

[2019-08-13 21:31] jinpz opened #447 "Zero Padding Support for Channel Dimension"
Hi,

I am trying to convert a `nn.LocalResponseNorm(size=5, alpha=0.0001, beta=0.75, k=1.0)` layer in pytorch to CoreML. It successfully got converted to ONNX, but cannot be converted to CoreML due to a zero padding error in channel dimension. Here is the trace of the error:

  File "convert_coreml.py", line 31, in convert_to_coreml
    coreml_model = convert(onnx.load('coreml_models/' + onnx_name

[2019-08-14 20:37] #447 closed

[2019-08-14 20:38] jinpz commented on #447
Fixed this by first transposing it and then transposing it back

[2019-08-15 17:54] bhushan23 commented on #446
@alperv you are most welcome to contribute for this one.
I would recommend to pull the latest changes and try converting again. There was node name issue with one of the operator which was recently fixed.

Also, regarding contribution, how are you doing it? Please fork the repo and push your change and then select pull request option. Read more about PR here: https://help.github.com/en/articles/cr

[2019-08-16 08:00] alperv commented on #446
thanks @bhushan23 I've pulled the latest changes (was already on master, only extra commit was cf7f6247686f89e1fd2bd759074f998702483ca8) and that didn't help with the issue.

I'll make a PR with my workaround fix. Thanks

[2019-08-20 09:47] edis219 opened #450 "NotImplementedError: Unsupported ONNX ops of type: Gather"
When converting one .onnx model to CoreML, encounter this issue:
"NotImplementedError: Unsupported ONNX ops of type: Gather"

Is there any work around for it? Or any suggestions on this?

[2019-08-20 09:59] iiSeymour commented on #450
Gather is supported with CoreML 3, you need to convert with `disable_coreml_rank5_mapping=True`.

[2019-08-20 11:27] edis219 commented on #450
Thanks a lot Chris! The Gather ops are supported in CoreML 3

[2019-08-20 11:27] #450 closed

[2019-08-21 03:19] edis219 opened #451 "NameError: name 'channels' is not defined"
/anaconda3/envs/inpaint-coreml/lib/python3.6/site-packages/onnx_coreml/_operators_nd.py in _convert_instancenorm(builder, node, graph, err)
    791     elif rank == 4:
    792         # 2D Batch Norm
--> 793         add_bn_with_expansion(builder, node, err, node.name, channels[0], scale, bias, mean, var,
    794                               node.inputs[0], node.outputs[0], epsilon, compute_mean_v

[2019-08-21 03:32] gilr00y commented on #451
I haven't tested if this generalizes, but the following works for my use case:

[code]

[2019-08-21 04:35] bhushan23 commented on #451
@edis219 thanks for reporting
This is known issue and will be updating soon

Thanks @gilr00y for providing work-around

[2019-08-22 11:18] beibei1998 opened #453 "cannot add op after concat"
hi
when I convert ONNX model to CoreML model, I met a problem that I cannot add any op after concat. When I try to add op such as conv or max pool, it would have the error:TypeError: Error while converting op of type: MaxPool. Error message: Input shape not available

this is my error info:
![image](https://user-images.githubusercontent.com/43979867/63510638-9ff10700-c511-11e9-9b9c-cc93ce54e201.pn

[2019-08-22 16:24] bhushan23 commented on #453
@beibei1998 which ONNX version are you using? ONNX shape inference had few bugs which does not compute input shape which is required for above ops.
If ONNX 1.5.0 also does not work for you. I would recommend to build it from source from tot and try.
I recently faced similar issue, tot ONNX worked for me

[2019-08-22 16:25] bhushan23 commented on #451
@edis219 can you give a try? this was fixed with https://github.com/onnx/onnx-coreml/pull/452

[2019-08-22 16:39] beibei1998 commented on #453
I used the latest version of onnx which is 1.5.0. but it seems not work. and my onnx－coreml is also 3.0beta.

[2019-08-22 16:49] bhushan23 commented on #453
@beibei1998 is it possible to share ONNX model? also, please try with latest ONNX built from source. As I mentioned it worked for me in past.

[2019-08-22 17:11] beibei1998 commented on #453
thx. but i just do the convert work. what i want to ask now is that i have checked the output of the concat and the input of conv and they matches, both of them are （1,1,3,512,512）why the input is not
 available?

[2019-08-22 17:12] beibei1998 commented on #453
i will try to build source thx very much

[2019-08-23 02:59] beibei1998 commented on #453
I have rebuilt the onnx and onnx-coreml source, it seems not work. The error still exists.

[2019-08-23 03:10] bhushan23 commented on #453
@beibei1998 is it possible for you to share ONNX model? Looks like something is off with onnx shape inference

[2019-08-23 03:25] beibei1998 commented on #453
I will share the model later. may I ask now why it is incorrect when conv is after concat while other convs have no error

[2019-08-23 03:28] bhushan23 commented on #453
there is a possibility that ONNX graph is not able to compute shape for concat op (possible bug) and hence, shape is not provided to conv layer

[2019-08-23 07:01] beibei1998 commented on #453
this is my model code, the error exists between the concat and conv

[simple_seg.txt](https://github.com/onnx/onnx-coreml/files/3533176/simple_seg.txt)

[2019-08-24 08:47] iiSeymour commented on #345
The latest beta release now supports LSTMs, check it out.

@bhushan23 @aseemw GRUs next?

[2019-08-26 02:15] beibei1998 commented on #453
can this bug fix？

[2019-08-26 03:44] edis219 commented on #451
@bhushan23 it works now. Thanks a lot!

[2019-08-26 03:44] #451 closed

[2019-08-27 03:01] beibei1998 commented on #453
![image](https://user-images.githubusercontent.com/43979867/63737577-78a38c80-c8b9-11e9-8693-e7f94a60617e.png)

convert script:

import torch
import torch.onnx as torch_onnx
from torch.autograd import Variable
from networks.versa_v2 import versa_v2, SegMattingNet
model = versa_v2()
model.load_state_dict(torch.load(path_model_path))
input_shape = (3, 512, 512)
input_names = ["input_array"]
output_n

[2019-08-27 03:02] beibei1998 commented on #453
may I ask that if this is the bug of onnx-coreml or my script/model?

[2019-08-27 15:38] yehorchankov commented on #374
I have the same issue with the node of type Slice as reported by @Ciyou. In my case: `KeyError: '367'`.
I used [netron](https://github.com/lutzroeder/netron) to visualize my onnx graph and I found the node is presented in the graph, but its ID is not presented in `graph.shape_dict` keys.
Is there any solution or workaround to the issue?

[2019-08-27 17:12] bhushan23 opened #456 "converting Mask RCNN from ONNX model zoo fails due to missing TopK,RoiAlign ops"
**Repro Steps**
1. Download onnx model from
https://github.com/onnx/models/tree/master/vision/object_detection_segmentation/mask-rcnn
2. Conversion script
[code]

**System Information**
- Python 3.7
- ONNX CoreML 1.0b2
- CoreMLTools 3.0b3
- ONNX 1.5

** Error Message**

[code]

[2019-08-28 08:09] beibei1998 commented on #453
thank you very much!
upcoming coremltools beta release?do you mean 1.0b2?

[2019-08-28 14:42] yehorchankov opened #458 "KeyError during Converting Node Type Slice"
### Description
I was trying to convert pytorch model to CoreML model. To do this I export my pytorch model as ONNX using `torch.onnx.export` method. Later I use `onnx_coreml.convert` method to convert the model to CoreML representation.

### Code
Unfortunately, I cannot share full pytorch model here. The code to convert model is as simple as:
[code]
### Error
But it gives me the next output:
[cod

[2019-08-28 14:46] yehorchankov commented on #374
While my issue seems unrelated to the original question, I have fixed the problem in my situation. See "Fixes" here #458 (KeyError during Converting Node Type Slice).

[2019-08-28 17:25] beibei1998 commented on #453
ok i get
thank u  very much
wait for the latest version!

[2019-08-29 09:35] yehorchankov commented on #458
@bhushan23 thank you for advice! Currently this solution works for me.

But how can I convert my model to operator version 10? As I mentioned, my onnx is of version 1.5.0, but the model is still operator version 9.

[2019-08-29 16:34] bhushan23 commented on #458
@yehorchankov pytorch export is generating version 9 model (also ONNX 1.4.0 and not 1.5.0)
I have asked this question on discuss forum here https://discuss.pytorch.org/t/exporting-onnx-v5-from-torch-onnx-export/54158 as pytorch release states to support version 10

Meanwhile, tried converting through ONNX version converter but seems like slice is not yet added in there. https://github.com/onnx/onn

[2019-08-30 07:30] nanicpc commented on #392
I have the same problem with the pytorch3.6 environment

[code]

[2019-09-03 03:05] edis219 opened #461 "When, A,B,C are all in the input_tensors of "Gemm" node, the "_convert_gemm" still make A as the input_names"
When, A,B,C are all in the input_tensors of "Gemm" node, the "_convert_gemm" still make A as the input_names. Then "Error reading protobuf spec. validator error: Layer '110' consumes an input named '106' which is not present in this network."

The model spec:
def model(image_gray, edge, mask) :
        90 =  loadConstantND (shape = (1,),  value = [1.0] )
        91 =  subtractBroadcastable (90, ma

[2019-09-03 07:16] edis219 opened #462 "dilated convolution does not support weight as input tensor after convert to CoreML"
The Conv layer info is as below:
<onnx_coreml._graph.Node object at 0x10d1ec978>
attrs:{'dilations': [2, 2], 'group': 1, 'kernel_shape': [3, 3], 'pads': [0, 0, 0, 0], 'strides': [1, 1]}
children:[<onnx_coreml._graph....10d1ecc18>]
input_tensors:{}
inputs:['189', '214_transposed']
metadata:{}
name:'215'
op_type:'Conv'
outputs:['215']
parents:[<onnx_coreml._graph....12f766978>, <onnx_coreml._graph..

[2019-09-03 13:22] sakishinoda opened #463 "Bilinear upsampling mapping missing"
Pretty sure that there is a bug in the [upsample conversion](https://github.com/onnx/onnx-coreml/blob/4d8b1cc348e2d6a983a6d38bb6921b6b77b47e76/onnx_coreml/_operators.py#L1632), where the "bilinear" node type doesn't map to "BILINEAR". I am not sure if the "linear": "BILINEAR" mapping is needed elsewhere, but this map should include "bilinear": "BILINEAR" for correct conversion.

[2019-09-04 09:45] marcoleewow commented on #458
@bhushan23 thanks for your custom function code. May I ask what is `INT_MAX` in your code?

[2019-09-04 10:06] marcoleewow commented on #458
I used `INT_MAX = 2 ** 30` from the source, I think it's correct.

However, when I try to do inference on the CoreML model I keep getting `exception: "Invalid blob shape"`, I guess flexible shape with LSTM CoreML model still doesn't work atm?

[2019-09-04 12:41] ZhukIvan opened #464 "The output shape is empty"
`cml_model = convert(onnx_model)`
Despite the correct short description, the code above gives the output shape of MultiArray is empty.

If you load the model through coremltools, it gives you something like this:

<details>
  <summary>coremltools.models.MLModel(convert(onnx_model))</summary>

input {
  name: "image"
  shortDescription: "MultiArray of shape (1, 1, 3, 1280, 720). The first and secon

[2019-09-04 12:42] ZhukIvan commented on #446
I have installed from source right now. The error is still there with flag `disable_coreml_rank5_mapping=True`
with False there is no error, but the [output shape is empty](https://github.com/onnx/onnx-coreml/issues/464).

[2019-09-04 17:23] bhushan23 commented on #463
@sakishinoda Upsample is deprecated in ONNX operator version 10
as per version-9, https://github.com/onnx/onnx/blob/master/docs/Changelog.md#Upsample-9
I have seen ONNX version 9 models with 'linear' mode.
Do you have any ONNX model example for the same?

[2019-09-04 17:41] bhushan23 commented on #458
@marcoleewow can you open new issue and attach ONNX model?

[2019-09-04 17:42] bhushan23 commented on #464
@ZhukIvan can you share ONNX model?

[2019-09-04 18:05] bhushan23 commented on #453
@beibei1998 could you please install onnx latest version from source? Read here for instructions https://github.com/onnx/onnx#source

Shape inference is fixed in changes later than 1.5.0 release and you should be able to convert with it.

[2019-09-05 02:36] beibei1998 commented on #453
thank u
I have reinstalled ONNX from source today, but it seems no difference
if I need to update others?

[2019-09-05 08:58] marcoleewow commented on #458
Guys after battling with ONNX and CoreML for the whole day, I finally solved the issue! The main catch is:
1. we must use Mac OS Catalina
2. `nn.LSTM(..., batch_first=True)`

You guys can follow the code from here, I added flexible shape as well:
https://gist.github.com/marcoleewow/26a0d5e23e35528262556697c62c2a50

[2019-09-05 09:01] marcoleewow commented on #345
LSTM pytorch model is now working! Follow this solution:

https://github.com/onnx/onnx-coreml/issues/458#issuecomment-528270062

[2019-09-05 09:01] #345 closed

[2019-09-05 09:10] iiSeymour opened #466 "Support for GRUs"
Many of the networks that I'm interested in make use of GRUs heavily and I'd like to see them running in under CoreML.

[2019-09-05 09:37] sakishinoda commented on #463
Okay, this may be because I'm using pytorch version 0.4.1 to export to ONNX in the first place. Thank you

[2019-09-05 09:37] #463 closed

[2019-09-05 10:20] ZhukIvan commented on #464
But I did, there are link under the image for onnx and coreml models.
Here it is [onnx model](https://mega.nz/#!8RBXXIhZ!W_zPpfB3FKmafEcEoDzNytcSM_tR_RJGrC99AyVcHmk)

[2019-09-05 18:29] bhushan23 commented on #464
@ZhukIvan i am on tot onnx-coreml and coremltools
I am able to successfully convert with shape information as well.
Could you please try with the latest onnx-coreml and coremltools?

[2019-09-05 23:03] bhushan23 commented on #462
@edis219 can you pass weight as a constant?

[2019-09-05 23:04] bhushan23 commented on #461
@edis219 could you please share a snippet of ONNX model for repro?

[2019-09-05 23:19] bhushan23 commented on #444
@glenn-jocher closing as support for Cast and Floor is added
Please feel free to re-open if you need any assistance with the conversion.

[2019-09-05 23:19] #444 closed

[2019-09-05 23:19] bhushan23 commented on #443
attribute body is present in ONNX op loop which is currently not supported by onnx-coreml

[2019-09-05 23:21] bhushan23 commented on #430
@aseemw should we ignore the log precision?

[2019-09-05 23:23] bhushan23 commented on #415
closing as support for ConstantOfShape is added

[2019-09-05 23:23] #415 closed

[2019-09-05 23:26] bhushan23 commented on #414
@lgyStoic closing for now.
Feel free to re-open with model

[2019-09-05 23:26] #414 closed

[2019-09-05 23:27] bhushan23 commented on #403
@alexanderhudym support for Var, Shape, Gather is added
please give a try to latest beta https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3

[2019-09-05 23:27] #403 closed

[2019-09-05 23:29] bhushan23 commented on #404
@raibosome with latest beta https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3 you can apply softmax on any axis.
Could you please give it a try?

[2019-09-05 23:36] bhushan23 commented on #406
@yizhaoyanbo as per https://github.com/apple/coremltools/blob/master/coremltools/models/neural_network/builder.py#L3206 if is_bgr is False then image output shoudl be BGR.
Could you please share a snippet of a onnx model?

[2019-09-05 23:37] bhushan23 commented on #409
@lyx0124 feel free to re-open if you need more help here

[2019-09-05 23:37] #409 closed

[2019-09-05 23:37] bhushan23 commented on #410
closing issue due to no resolution

[2019-09-05 23:37] #410 closed

[2019-09-05 23:38] bhushan23 commented on #413
@noyami2033 could you please give a try to latest beta?
we have added support for reduce operation across all the axis https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3

[2019-09-05 23:39] bhushan23 commented on #413
@noyami2033 closing as support for reduce mean is added
Feel free to re-open if you need more help here

[2019-09-05 23:39] #413 closed

[2019-09-05 23:40] bhushan23 commented on #399
@erezposner support for concat across any axis is added with latest beta https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3

Feel free to re-open if you still face any issue for concat conversion

[2019-09-05 23:40] #399 closed

[2019-09-05 23:43] bhushan23 commented on #393
Looks like question has been answered
@yizhaoyanbo feel free to re-open if you have more questions

[2019-09-05 23:43] #393 closed

[2019-09-05 23:44] bhushan23 commented on #392
not a onnx-coreml converter issue
and mostly handled by onnx in it's latest version

[2019-09-05 23:44] #392 closed

[2019-09-05 23:44] bhushan23 commented on #390
@mayokaze could you please give a try to latest onnx-coreml beta?
https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3

[2019-09-05 23:45] bhushan23 commented on #389
@yizhaoyanbo feel free to re-open if you still need help here

[2019-09-05 23:45] #389 closed

[2019-09-05 23:45] #387 closed

[2019-09-05 23:46] bhushan23 commented on #364
Support for Shape and Tile is added in CoreML 3
https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3

Closing.

[2019-09-05 23:46] #364 closed

[2019-09-05 23:47] bhushan23 commented on #362
@SumatP support for matmul is added
Could you please give a try to latest beta? https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3
Feel free to re-open if you still face issues

[2019-09-05 23:47] #362 closed

[2019-09-05 23:49] bhushan23 commented on #171
@gustavla do you still face the issue?
feel free to re-open

[2019-09-05 23:49] #171 closed

[2019-09-05 23:50] bhushan23 commented on #8
@oneTaken could you please give a try with latest beta?
https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3

feel free to re-open if you still face this issue

[2019-09-05 23:50] #8 closed

[2019-09-05 23:51] bhushan23 commented on #6
tests are enabled under onnx backend node test.
closing

[2019-09-05 23:51] #6 closed

[2019-09-05 23:51] bhushan23 commented on #3
@oneTaken feel free to re-open if you still face this issue with latest beta https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3

[2019-09-05 23:51] #3 closed

[2019-09-06 00:00] bhushan23 commented on #377
@calclavia do you face issue with latest beta? https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3
feel free to re-open if you still see the error

[2019-09-06 00:00] #377 closed

[2019-09-06 00:01] bhushan23 commented on #375
@chinmaydas96 please give a try with latest beta https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3
and feel free to re-open if you still face this issue

[2019-09-06 00:01] #375 closed

[2019-09-06 00:02] bhushan23 commented on #374
Issue not producible
@joninsky feel free to re-open if you still face issues

[2019-09-06 00:02] #374 closed

[2019-09-06 00:07] #458 closed

[2019-09-06 00:09] bhushan23 commented on #373
@dianxin556 please give a try to latest beta https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3
and feel free to re-open if you still face this issue

[2019-09-06 00:09] #373 closed

[2019-09-06 00:10] bhushan23 commented on #370
@dianxin556 could you please give a try to https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3 latest beta?
Feel free to re-open if you still face this issue

[2019-09-06 00:10] #370 closed

[2019-09-06 00:10] bhushan23 commented on #369
@glenn-jocher  could you please give a try to https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3 latest beta?
Feel free to re-open if you still face this issue

[2019-09-06 00:10] #369 closed

[2019-09-06 00:11] bhushan23 commented on #367
@genp could you please give a try to https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3 latest beta?
Feel free to re-open if you still face this issue

[2019-09-06 00:11] #367 closed

[2019-09-06 00:11] bhushan23 commented on #365
@arsenyinfo could you please give a try to https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3 latest beta?
Feel free to re-open if you still face this issue

[2019-09-06 00:11] #365 closed

[2019-09-06 00:12] bhushan23 commented on #404
feel free to re-open if you still face this issue

[2019-09-06 00:12] #404 closed

[2019-09-06 00:12] bhushan23 commented on #390
feel free to re-open if you still face this issue

[2019-09-06 00:12] #390 closed

[2019-09-06 00:12] bhushan23 commented on #385
@Umity could you please give a try to https://github.com/onnx/onnx-coreml#new-beta-onnx-coreml-converter-with-core-ml-3 latest beta?
Feel free to re-open if you still face this issue

[2019-09-06 00:12] #385 closed

[2019-09-06 05:51] edis219 commented on #462
@bhushan23, sure, I pass the weights as a constant into the dilated conv layer. Then this issue solved.
Will the CoreML support to pass the weights as an input?

[2019-09-06 05:58] edis219 commented on #461
Hi @bhushan23 ,

I added the following code to the "_convert_gemm", this issue solved.

def _convert_gemm(builder, node, graph, err):
    '''
    convert to CoreML Tranpose (Optional) and Inner Product Layer:
    https://github.com/apple/coremltools/blob/655b3be5cc0d42c3c4fa49f0f0e4a93a26b3e492/mlmodel/format/NeuralNetwork.proto#L4180
    '''
    # Read attributes
    alpha = node.attrs.get('alpha

[2019-09-06 09:35] ZhukIvan commented on #464
@bhushan23 Could you please send output of `coremltools.models.MLModel(convert(onnx_model))` command and resulted coreml model ?

[2019-09-06 16:53] genp commented on #367
Thanks! Will do.

[2019-09-06 17:28] bhushan23 commented on #464
@ZhukIvan here is converted model https://drive.google.com/open?id=1F39NfIeCdD1UjbeXbEVK7qIJZ7uJH051

Following is script to convert
[code]

Following is stdout

[code]

[2019-09-06 17:37] bhushan23 commented on #461
@edis219 you are right
input is constant and gemm requires it to be input.
simpler way to handle this is to
call load_input_constants method in the beginning similar to https://github.com/onnx/onnx-coreml/blob/fd6059cfd9706b0fc583da508ac2db26a808c278/onnx_coreml/_operators_nd.py#L189
[code]
Feel free to send a PR

[2019-09-06 22:57] bhushan23 opened #468 "test bug"
## Describe the bug
A clear and brief description of what the bug is.

## Trace
If applicable, please paste the error trace.

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- If applicable, please attach ONNX model
    - If model cannot be shared publicly, please attach it via filing a bug report at https://developer.apple.com/bug-reporting/
- If

[2019-09-06 22:58] #468 closed

[2019-09-09 09:44] ZhukIvan commented on #464
@bhushan23 That's true, and I wrote exactly about this. Without flag you get empty shape, with flag you get good shape, but in some cases you will get [pixel shuffle reshape error](https://github.com/onnx/onnx-coreml/issues/446). Please, try to convert with `disable_coreml_rank5_mapping =True` this [onnx model](https://mega.nz/#!NYIQFQDQ!xroJ2stsuy3_fT4Tq4oYXa9LFklmoVfc_lEm7XUgDr0).
Thank you!

[2019-09-09 17:03] bhushan23 commented on #464
@ZhukIvan I am indeed converting with `disable_coreml_rank5_mapping=True` flag.
please take a look at script provided in above google drive link ([convert.py](https://drive.google.com/open?id=1XXRDs5QDy_OWKdQ8HiN0kv7oO0pFv_vR))

We have one more way to make a progress here, could you please set DEBUG=True in converter.py (https://github.com/onnx/onnx-coreml/blob/b3154187cd0549eb55b7b19a61586fe3ade

[2019-09-12 06:25] #445 closed

[2019-09-12 18:40] JT-101 opened #473 "IndexError when converting LSTM network from Matlab"
I'm using the latest version from commit c36bfef, which fixed my issue in #445 . Now I get the following error (same ONNX file from Matlab as #445 )

1/8: Converting Node Type LSTM
Warning: Unsupported Feature in op of type LSTM, with input name = sequenceinput, output name = . Warning message: Forward and backward pass will use same activations.

2/8: Converting Node Type Transpose
3/8: Convertin

[2019-09-13 09:33] ZhukIvan commented on #464
@bhushan23 You was right, I've converted model with pytorch 1.1, but after upgrading to 1.2 version error remains. Currently I have this versions:
[code]
Here is pytorch [model](https://mega.nz/#!0UBWAYJK!I731_Fyjpz_Uhl9z1DHVT6FVMixdARzSqL9dCA6Ku0E) and here is conversion code :
[code]

[2019-09-14 14:23] saddif opened #474 "Error converting mosaic.onnx to coreML- upsample layer / scales"
##
This is my first ever gitHub post, so apologies if there are any inaccuracies in the post.

Hi i am . following to tutorials to train a model for fast neural style transfer using pytorch and converting it to coreML

I have got as fare as making the mosaic.onnx file but keep getting this error after i have followed these official iinstructions

pip install coremltools==3.0b3
pip install onnx-cor

[2019-09-17 18:00] #466 closed

[2019-09-18 02:32] bhushan23 commented on #461
closed with #472

[2019-09-18 02:32] #461 closed

[2019-09-24 00:26] geraldchao commented on #446
Likely not a good solution, but a workaround could be to update https://github.com/onnx/onnx-coreml/blob/master/onnx_coreml/_transformers.py#L484 and 485 to

[code]

This would be for v1.0b3.

[2019-09-24 00:34] julien-c opened #478 "Error while converting ONNX export of DistilBERT"
I'm trying to convert an ONNX export of [DistilBERT](https://github.com/huggingface/pytorch-transformers/tree/master/examples/distillation) to CoreML, using the following code:

[code]

I've hand-converted this model to CoreML before (as well as GPT-2, in [this repo](https://github.com/huggingface/swift-coreml-transformers)), but for ease of use and scalability to future models I would like to use

[2019-09-24 18:17] bhushan23 commented on #446
@geraldchao You are right. We need to make change in transformation

[2019-09-30 17:11] bhushan23 commented on #453
@beibei1998 could you please try with latest beta? SoftMax and Rank information change is available in 1.0b3

[2019-09-30 17:16] bhushan23 commented on #474
@saddif this is known issue raising due to PyTorch -> ONNX conversion leading to pattern which does not optimizes `scales` for UpSample to be known and CoreML at this point, does not support dynamic scale for `UpSample` layer.

But, we have a work-around by specifying the scales manually.
Please follows instructions as mentioned in this comment https://github.com/onnx/onnx-coreml/issues/453#issuec

[2019-09-30 17:17] bhushan23 commented on #456
closing as ops area added.
NonMaxSuppression in CoreML follows tensorflow style and will be addressed separately.

[2019-09-30 17:17] #456 closed

[2019-10-02 20:22] #446 closed

[2019-10-04 19:32] bhushan23 commented on #464
@ZhukIvan This should be fixed with https://github.com/onnx/onnx-coreml/pull/481

[2019-10-04 19:32] #464 closed

[2019-10-04 19:33] bhushan23 commented on #453
have created PyTorch issue for the same https://github.com/pytorch/pytorch/issues/27376

[2019-10-05 20:29] edjust commented on #415
I am having the same issue in https://github.com/onnx/tutorials/issues/150
Could someone help me that? I already pass disable_coreml_rank5_mapping=True but the error persist.

[2019-10-06 15:38] mirth opened #486 "Reproduce pytorch output on iPhone 6s"
I'm trying to reproduce output of my model on iPhone 6s with coreml.
These are first three values from output for different environments.

`torch` - pytorch `model(tensor_img)` in python output for float32
`onnx` - onnxruntime `sess.run(...`) in python
`corep` -  `coreml_model = onnx_coreml.convert(...) coreml_model.predict(` in python
`6s` - VNCoreMLRequest in swift on iPhone 6s (target 13.0)

[c

[2019-10-08 00:04] bhushan23 commented on #478
@julien-c We have added support for Where op with #487
regarding SoftMax layer, we are using Old Softmax layer by default due to overflow issue.
Old softmax layer is rank dependent which is blocked on ONNX shape inference.

But, if we use `custom_conversion_function` to use new softmax layer, model is converting with very good SNR and PSNR score
[code]
Please use following script to convert model

[2019-10-08 01:56] bhushan23 commented on #415
@edjust please use latest onnx-coreml beta https://github.com/onnx/onnx-coreml/#new-beta-onnx-coreml-converter-with-core-ml-3
pass `target_ios='13'`
these ops are supported with `target_ios='13'`

[2019-10-08 17:12] julien-c commented on #478
Thank you @bhushan23, it works! I've pushed the models to our repo (with credits) and tweeted a link to the release: https://twitter.com/julien_c/status/1181615276439330816

We'll integrate the model inside our demo Squad app later today.

[2019-10-08 22:04] #478 closed

[2019-10-08 22:06] bhushan23 commented on #473
@JT-101 this should be fixed with latest coremltools (from source) and onnx-coreml

[2019-10-08 22:08] bhushan23 commented on #473
@JT-101 you might have to wait for latest coremltools version (3.1) as rank change goes into coremltools
but, meanwhile, you can use `custom_conversion_function` to use `softmax_nd`
[code]

[2019-10-08 22:08] #473 closed

[2019-10-09 23:30] julien-c commented on #478
Just updated our demo app to use `onnx-coreml` converted DistilBERT 🎉

Inference on device is ~35% faster ⚡️

Merged PR is: https://github.com/huggingface/swift-coreml-transformers/pull/13

[2019-10-10 00:02] bhushan23 commented on #478
Awesome!!
@julien-c could you please give more details? Faster than tf-lite?

[2019-10-10 00:12] julien-c commented on #478
@bhushan23 DistilBERT is ~35% faster than (full) BERT on device (while keeping 97% of the accuracy on Squad)

[2019-10-10 20:22] jackkwok opened #493 "Error when Converting Node Type Slice"
## ❓Question

I got an error while converting ONNX model file to Core ML.  The error happens when converting "Node Type Slice".

The ONNX model was converted from a pretrained Pytorch yolov3 model that I downloaded from
https://github.com/eriklindernoren/PyTorch-YOLOv3/blob/master/weights/download_weights.sh

[code]

The error:

I tried targeting iOS 13.

Any suggestion on how to get around this e

[2019-10-11 15:59] petersiemen commented on #493
I am facing the same problem while trying to convert the onnx model that I exported from
https://github.com/ultralytics/xview-yolov3.

[2019-10-11 21:37] bhushan23 commented on #493
@jackkwok could you please attach the ONNX model?
It will be helpful

[2019-10-12 08:25] petersiemen commented on #493
Hi,
please find the exported onnx model here:
https://drive.google.com/open?id=1XbbpLMy_vutfIKjLjWydb1ZycPmvOVqY
I use the https://github.com/ultralytics/yolov3 code to export the Darknet configured with the parameters in cfg/yolov3-tiny.cfg. In order to activate the export mode I just set ```ONNX_EXPORT = True``` in models.py:7

When trying to convert to coreml with this piece of code
[code]
usin

[2019-10-14 22:08] bhushan23 commented on #486
@mirth could you please share ONNX model?

[2019-10-15 11:29] petersiemen commented on #493
I found what causes the aforementioned problem.
It seems that the intermediate processing graph does not find any input nodes for to be converted `torch.nn.Upsample`  nodes.

I can reproduce the error with
[code]

Which gives
[code]

**SOLUTION:**
As a workaround I use a custom implementation as Upsampling Layer in my network.
[code]

[2019-10-16 20:48] bhushan23 commented on #493
@petersiemen using custom UpSample is nice workaround.
@jackkwok another work around is to pass `size` to Upsample/interpolate in PyTorch instead of passing `scale`
PyTorch to ONNX export does expand to few nodes when scale is passed and does feeds scale if output size is passed
https://github.com/pytorch/pytorch/issues/27376
Until, this is fixed, I would recommend to using `size` in pytorch.

For

[2019-10-17 09:03] petersiemen commented on #493
Nice. Thanks for the detailed reply @bhushan23 . I think I will go with my custom layer for now. If I wanted to use the size parameter of torch.nnUpsample the network would need to know (pass down) the absolute size of the tensor that should be upsampled.
But good to see that this fix will likely make it into the 1.1 release

[2019-10-17 20:46] bhushan23 commented on #493
closing this issue considering with `slice` change being in.
UpSample issue will be fixed in PyTorch -> ONNX path

[2019-10-17 20:46] #493 closed

[2019-10-18 14:09] vladserkoff opened #497 "softmax nd inferes axis incorrectly in case of target_ios!='13'"
## 🐞Describe the bug
When the model uses softmax_nd, the axis is inferred incorrectly when the target is 11.2 and 12, but correctly in 13.
## To Reproduce
Unfortunately, I couldn't provide reproducible example, but I'll show the results I get.
I'm using the variation of ssd provided in this repo, and there's a sofmax applied along the 2 axis:
https://github.com/qfgaohao/pytorch-ssd/blob/382723c499

[2019-10-18 20:30] bhushan23 commented on #497
@vladserkoff could you please share your generated mlmodel?
when `target_ios` is less than 13, we use CoreML 2 where SoftmaxND is not supported and we use old softmax layer which is applicable only on -3 axis. For your case, we need to transpose the input to ensure softmax is applied on desired axis and also need to squeeze/unsqueeze the input and output as necessart

[2019-10-18 20:59] vladserkoff commented on #497
@bhushan23, which model do you want me to share, ios 13 or 12?

[2019-10-18 21:34] bhushan23 commented on #497
@vladserkoff 12 broken and fixed.

[2019-10-19 15:44] marcoleewow opened #498 "Padding ops is not working as expected for 3D tensors."
## 🐞Describe the bug
ONNX padding is different to coreML expectation, making the convert() function not working as expected.

## Trace
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- If applicable, please attach ONNX model
    - If model cannot be shared publicly, please attach it via filing a bug report at https://developer.apple.com/bu

[2019-10-21 02:09] SumatPurewal opened #499 "Model works with target_ios='12' but not target_ios='13'"
## 🐞Describe the bug
I am using inceptionv3 as a feature extractor. The inceptionv3 subnetwork works fine if I set target ios to 12 but when I set the target_ios to 13 then the model converts fine however when I attempt to run a prediction on it in the iPhone11 simulator or an iPhoneXS then the app crashes. Running predictions through coremltools also result in a segfault.

If I visualize the mode

[2019-10-21 06:48] vladserkoff commented on #497
@bhushan23, here you go

[mlmodels.zip](https://github.com/onnx/onnx-coreml/files/3749349/mlmodels.zip)

[2019-10-21 09:56] marcoleewow opened #500 "gather + matmul ops duplicates data to 4th axis."
## 🐞Describe the bug
A clear and brief description of what the bug is.
If we use gather then matmul, the data is duplicated across 4th axis.

## Trace
If applicable, please paste the error trace.
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- If applicable, please attach ONNX model
    - If model cannot be shared publicly, please attach

[2019-10-23 12:38] yuvdar opened #501 "output_feature has no shape when output has len(shape)==2"
## ❓Question
in `_make_coreml_output_features` in `converter.py` you don't allow shape of 2 (B, C), why is it? this is quite common in classification networks (such as mobileNet).

[2019-10-24 14:28] richard-vogl opened #502 "_add_conv_like_op with convolution on 3d tensors produces ambiguous names for expanded inputs and outputs"
## 🐞Describe the bug

when converting the attached model, xcode complains about duplicate output names during validation:

validator error: Layer '27_ip_expand' produces an output named '27_expanded' which is also an output produced by the layer '28_expand'.

## Trace
not applicable

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## System envir

[2019-10-24 14:34] richard-vogl commented on #502
code is also affected by

https://github.com/onnx/onnx-coreml/issues/498

therefore the workaround is included

[2019-10-31 10:42] tommymchugh opened #503 "ConvTranspose layer fails to convert. Provided number axes not supported"
## 🐞Describe the bug
A clear and brief description of what the bug is.
Onnx conversion fails when trying to convert ConvTranspose Layer. Pytorch model works when exporting using other methods of export Pytorch offers such as TorchScript.

## Trace
If applicable, please paste the error trace.
1/11: Converting Node Type Gemm
2/11: Converting Node Type Relu
3/11: Converting Node Type Shape
4/11: Conv

[2019-10-31 14:15] #503 closed

[2019-11-04 04:24] bhushan23 commented on #503
@tommymchugh is this resolved?

[2019-11-07 04:36] tommymchugh commented on #503
Yup @bhushan23, Input tensor size was a dynamic size, needed to set the exact dimensions of the input.

[2019-11-07 20:18] hezhangsprinter opened #505 "Is Onnx-coreml conversion taget_device= ios11.2 really mean Coreml V1 ?"
## ❓Question
Is Onnx-coreml conversion taget_device= ios11.2 really mean Coreml V1 ?
## System Information
Hi
    I saw that  taget_device= ios11.2 means that it is converted coreml v1. But when you visualize the mlmodel  using the Netron. It said it is coreml v2.
I am curious it is v1 or v2 ?

[2019-11-13 22:34] PCerles opened #506 "validator error: Layer '44_expand' produces an output named '43_expanded' which is also an output produced by the layer '43'."
## 🐞Describe the bug
When converting a PyTorch model to CoreML through PyTorch --> ONNX --> CoreML, I successfully export to CoreML but am then unable to import into XCode, and inspecting the file gives

**There was a problem decoding this CoreML Document**
validator error: Layer '44_expand' produces an output named '43_expanded' which is also an output produced by the layer '43'.

## Trace
**Ther

[2019-11-13 22:58] PCerles commented on #506
Found fix here:
https://github.com/onnx/onnx-coreml/issues/502

[2019-11-13 22:58] #506 closed

[2019-11-15 00:46] dingzeyuli commented on #499
I run into the same issue. Is there any fix to this?

[2019-11-15 18:15] williamtong0228 opened #507 "Some Reshape layers with 6 ranks in the network generated from Pytorch-onnx conversion. How do I fix this please?"
Could not pass the conversion between Onnx and Core ML. Because in the previous conversion some 6 rank layers were generated. I am new to this and I could not find anyone who had the same problem. It's a super-resolution GAN network. I really appreciate your help if anyone could refer me some links to check. Thanks in advance.

<img width="916" alt="Screenshot 2019-11-16 at 1 58 31 AM" src="https:

[2019-11-15 19:17] aseemw commented on #507
A few of these patterns have been handled by transforming the rank 6 patterns into less than rank 6 layers via graph transformations, prior to running the layer translation loop.

See the tests here: https://github.com/onnx/onnx-coreml/blob/1da82bba8bf43cb4bda5f21ebdc4f09713a254d7/tests/pytorch_model_test.py#L470

here is the transformation: https://github.com/onnx/onnx-coreml/blob/1da82bba8bf43cb

[2019-11-15 19:28] williamtong0228 commented on #507
Thank you so much aseemw. Really appreciate your help. I didn't know that code. It looks pretty like what I was missing. I am new to machine learning and Pytorch lol. I will figure it out how to implement it.

[2019-11-15 19:28] #507 closed

[2019-11-18 23:37] ccbrown opened #508 "Ops required for PyTorch Faster-RCNN: Range, NonMaxSuppression, and ScatterElements"
## 🌱 Describe your Feature Request

This script downloads the pretrained fasterrcnn_resnet50_fpn with torchvision, converts it to an ONNX file, then attempts to convert it to CoreML:

[code]

This is using using the PyTorch / Torchvision nightly builds. It seems to almost work, but...

[code]

**Range** appears to be a new addition to ONNX.

**NonMaxSuppression** is also required by the Mask-RCNN

[2019-11-19 18:12] kossnick opened #509 "`Error while converting op of type: Conv. Error message: provided number axes 1 not supported`"
## 🐞Describe the bug
In converting the PyTorch pretrained Progressive GAN model to CoreML (https://pytorch.org/hub/facebookresearch_pytorch-gan-zoo_pgan/), I am encountering a fatal error in the onnx to coreml conversion step. See below for the trace and a simple end-to-end script that goes from PyTorch to CoreML.

## Trace
This is the output from my conversion script, with the final part being th

[2019-12-03 05:11] glenn-jocher commented on #474
I can not export from PyTorch to ONNX using the upsample operator with torch version 1.3.1,
onnx version 1.5.0.

MINIMUM CODE TO REPRODUCE:
[code]

[2019-12-03 12:20] AnasArram opened #511 "Espresso exception: "Invalid blob shape": generic_elementwise_kernel: cannot broadcast [48, 64, 32, 1, 1] and [24, 32, 32, 1, 1]"
Command CoreMLModelCompile failed with a nonzero exit code

i have successfully converted the onnx model (originally in pytorch) using the following:
mlmodel = convert('NetModel.onnx', target_ios='13', custom_conversion_functions={'Upsample': _convert_upsample})
and when i tried to run this model in xcode i got the this error:

coremlc: Error: compiler error:  Espresso exception: "Invalid blob sha

[2019-12-07 17:44] bhushan23 opened #513 "Travis CI broken"
## 🐞Describe the bug
Travis CI is broken with OpenSSL package error

## Trace
Full log here
https://travis-ci.org/onnx/onnx-coreml/jobs/622047586?utm_medium=notification&utm_source=github_status

Error message
`
WARNING: pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None,

[2019-12-09 04:09] bhushan23 commented on #513
@LeoIV would you like to take a look at this?

[2019-12-09 09:24] MarcSteven opened #515 "How to convert MultiArray to image as input type"
## ❓Question
How to convert MultiArray to Image as input type
## System Information
- If applicable

[2019-12-09 11:52] AnasArram commented on #515
you need to pass the input name (image_input_names) as an argument as follow:
coreml_model = convert(model, target_ios='13', custom_conversion_functions={'Upsample': _convert_upsample}, image_input_names = ['input']
replace  'input' with your model input name

[2019-12-09 13:21] AnasArram commented on #453
i got the following error when i run the project in xcode:

coremlc: Error: compiler error:  Espresso exception: "Invalid blob shape": generic_elementwise_kernel: cannot broadcast [48, 64, 32, 1, 1] and [96, 128, 32, 1, 1]

this is from upsampling, the second list is the scales that passed to 'builder.add_resize_bilinear'.
the two lists are in opposite order. looks they should be like: [1, 1, 32,

[2019-12-10 02:50] MarcSteven commented on #515
@AnasArram  Thank you so much, can you show a whole example about it?

[2019-12-10 07:57] kevin970401 opened #516 "Support Path from pathlib"
## 🌱 Describe your Feature Request
Support Path (from pathlib) as type of argument `model`

`convert` doesn't support Path as type of argument `model `
but `onnx.load` supports Path

## Use cases
[code]

## Describe alternatives you've considered
`if isinstance(model, Text):` -> `if isinstance(model, Text) or isinstance(model, Path):`

[2019-12-13 03:09] MarcSteven commented on #515
`#//
#//  convert_input_to_image.py
#//  AntsFaceDemo
#//
#//  Created by Marc Zhao on 2019/12/12.
#//  Copyright © 2019 AntsNetwork. All rights reserved.
#//

import coremltools
import coremltools.proto.FeatureTypes_pb2 as ft

spec = coremltools.utils.load_spec("FacialExpressionAnalysis.mlmodel") #please change the file name you are using

input = spec.description.input[0]
input.type.imageType.co

[2019-12-13 03:09] #515 closed

[2019-12-13 05:49] MarcSteven opened #519 "Convert to support iOS12"

[2019-12-14 09:49] MarcSteven commented on #519
It's not a good question, based on the doc I found you can use onnx_coreml 2.0 to do the task.
Thank you so much.

[2019-12-16 21:20] kossnick opened #520 "Issue converting Slice op when comes after Expand op"
## 🐞Describe the bug
When converting a model that has a Slice op immediately after an Expand op, it crashes.

## Trace
[code]

## To Reproduce
I made a simple Google Colab notebook to reproduce this issue on a toy model: https://colab.research.google.com/drive/1QCQjskJnxBY7yKCVEB04ReXAwgU7zYC0#scrollTo=_aVyHsbZho1Y. Also pasted below:
[code]

## System environment (please complete the following in

[2019-12-16 22:52] kossnick opened #521 "`RandomNormal` op: 'NeuralNetworkBuilder' object has no attribute 'random_normal_static'"
## 🐞Describe the bug
I am trying to export a PyTorch model that has `torch.randn`. ([Due to a separate issue with F.interpolate, I need to use PyTorch's nightly build](https://github.com/pytorch/pytorch/issues/31055).) I have reproduced this issue in a tiny toy model, which correctly produces an ONNX output model but fails in the CoreML conversion step.

## Trace
[code]

## To Reproduce
I have cre

[2019-12-18 06:44] bhushan23 commented on #344
@MarcSteven could you please pass `minimum_ios_deployment_target=13` to convert method and try?`Shape, Gather` ops are added in CoreML 3 and are supported for iOS 13.

[2019-12-18 06:48] MarcSteven commented on #344
But I want to make it support iOS12. How to make it available ?

[2019-12-18 11:29] bhushan23 commented on #505
@hezhangsprinter yes

[2019-12-18 11:29] #505 closed

[2019-12-18 20:27] kossnick commented on #521
As a workaround, I tried using `torch.randn_like`, and it had a different set of errors. [I updated the colab notebook to have a second cell for the torch.randn_like case](https://colab.research.google.com/drive/1ArAdOe1ZO09PmDhM-LW5rq3qFgzBZ-cg#scrollTo=quRwwok9t-yB). It has the following error:
[code]
I set a breakpoint in `onnx_coreml/_operators_nd.py` where the attributes error was above, and

[2019-12-18 22:53] kossnick opened #522 "Supply onnx_coreml.__version__"
## 🌱 Describe your Feature Request
Many Python modules supply a `.__version__` attribute, so you can query which version of it you're using. However, if in Python you do:
[code]
You will see there's no version available. It would be great to be able to query the version.

## Use cases
We have a complex conda environment to manage all the conda dependencies for exporting, and some machines (eg: CI

[2019-12-19 01:31] kossnick commented on #509
Just updated the colab notebook to onnx opset 11, and
Torch version: 1.3.1
Onnx version: 1.6.0
onnxruntime version: 1.1.0

Was hoping this would help. Did change the error from axes 1 to -1, but it's still there.

[2019-12-19 02:21] yaroslavvb commented on #509
Can reproduce

[2019-12-19 12:37] MarcSteven opened #523 "cannot convert to support iOS 12"
## 🐞Describe the bug
A clear and brief description of what the bug is.
I wanna to convert to support iOS 12 but it shows the error  "no implementation shape and gather "
## Trace
If applicable, please paste the error trace.

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- If applicable, please attach ONNX model
    - If model cannot be shared pu

[2019-12-19 22:24] DawerG commented on #509
@kossnick Can you please try converting the model using this change?
 https://github.com/onnx/onnx-coreml/pull/524

[2019-12-19 22:55] kossnick commented on #509
The conv op in my own model is indeed converting correctly, thank you! :raised_hands: :heart:

I have gotten other similar axes=-1 issues elsewhere in our models (InstanceNorm2d in some scenarios and Slice in some scenarios). I've yet to find/make a simpler standalone repro for the other axis=-1 issues. Any advice on how to tackle those, or things to dig into for them?

[2019-12-20 01:48] DawerG commented on #523
@MarcSteven Shape and Gather are only available iOS 13 and onwards.

[2019-12-20 01:50] #523 closed

[2019-12-20 08:25] Cocaice opened #525 "Convert model to support ios12"
## ❓Question
I want to convert a onnx model to support ios12 with parameters  `minimum_ios_deployment_target = '12'`, but it always failed with the following error:
NotImplementedError: Unsupported ONNX ops of type: Shape,Gather
Please try converting again with minimum_ios_deployment_target=13 and coremltools 3.0 latest beta

[2019-12-20 08:30] #525 closed

[2019-12-23 05:59] MarcSteven commented on #519
Yeah perhaps I should use CoreML 3.0

[2019-12-23 05:59] #519 closed

[2019-12-26 06:43] MarcSteven opened #526 "convert to CoreML and then get wrong predictions"
## 🐞Describe the bug
A clear and brief description of what the bug is.

I converted to CoreML and then got the wrong prediction.
## Trace
If applicable, please paste the error trace.

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet

#//
#//  onnx_convert_coreml.py
#//  AntsFaceDemo
#//
#//  Created by Marc Zhao on 2019/12/25.
#//  Copyright © 2019 AntsNe

[2020-01-03 08:55] bhushan23 commented on #526
@MarcSteven can you share onnx model?

[2020-01-03 08:56] bhushan23 commented on #522
Thanks @kossnick will look into this

[2020-01-03 10:27] bhushan23 commented on #501
@yuvdar we do handle output of rank 2
convert adds output feature with shape none is that case.
Have you encountered any case we don't handle this? please share an example if that's the case

[2020-01-03 10:51] bhushan23 commented on #497
@vladserkoff could you please give try to onnx-coreml 1.1?
we do have added softmax old layer if we know the shape
Meanwhile will change mlmodel output difference

[2020-01-03 15:15] bhushan23 commented on #520
@kossnick this is due to shape unknown when expand op is present in onnx shape inference.
have a #528 PR to print out error message correctly.

[2020-01-04 05:48] #521 closed

[2020-01-04 20:28] ekam123 opened #529 "Error while converting op of type: BatchNormalization"
## ❓Question
I am using the fastai library and Resnet34 as the pretraining model. The model converts to Onnx fine but when trying to convert to mlmodel, I get the following error:
![Screenshot_2020-01-04 predict_actors_from_scratch - Jupyter Notebook(1)](https://user-images.githubusercontent.com/19808642/71771133-4b13c300-2eeb-11ea-977a-2a3bf7ff888b.png). This error only comes when the final layer

[2020-01-05 10:07] yuvdar commented on #501
@bhushan23  - Thanks for the reply.
This is indeed the case. My question is why not give out the correct output shape? None is not informative.

[2020-01-07 05:57] MarcSteven commented on #526
@bhushan23  Because it's belonged to my company ,so I cannot make it public.

[2020-01-07 05:58] MarcSteven commented on #526
<img width="388" alt="Screen Shot 2020-01-07 at 13 57 41" src="https://user-images.githubusercontent.com/13824297/71871913-c7114380-3155-11ea-9351-844bc2d7b538.png">
<img width="388" alt="Screen Shot 2020-01-07 at 13 58 03" src="https://user-images.githubusercontent.com/13824297/71871916-c7a9da00-3155-11ea-83d1-803ba84f3537.png">
I only share less about its graph

[2020-01-08 09:57] leonardoaraujosantos opened #530 "Problem with Generated CoreML from Bidirectional LSTM on Pytorch"
## 🐞Describe the bug
After CoreML model is created Xcode gives an Error message: (Problem Decoding document)

## Trace
No error is found during generation
<img width="791" alt="xcode_issue" src="https://user-images.githubusercontent.com/898383/71968234-638e2100-31fc-11ea-839d-be0be9434c9b.png">

This is the output I get from the export process
[code]

## To Reproduce
- If a python script can repro

[2020-01-09 15:49] leonardoaraujosantos commented on #530
After @aseemw PR:https://github.com/onnx/onnx-coreml/pull/531, the model is generated correctly:
<img width="535" alt="Screen Shot 2020-01-09 at 3 03 07 PM" src="https://user-images.githubusercontent.com/898383/72082046-7c2f3180-32f7-11ea-9c16-27bcb5695bf1.png">

[best_LSTM_working.mlmodel.zip](https://github.com/onnx/onnx-coreml/files/4041211/best_LSTM_working.mlmodel.zip)

[2020-01-12 22:51] bhushan23 commented on #501
@yuvdar when you set None, output shape will be inferred

[2020-01-14 20:24] yuvdar commented on #501
@bhushan23 The problem is, there is no way of knowing the shape before inference. The metadata doesn't provide it, while in other cases it does.

[2020-01-18 03:27] threeds opened #533 "Error in neural network compiler computing minimum sequence length for the model"
## ❓Question
add network input to output, then get this warning, why and how to avoid it?

1/25: Converting Node Type Conv
2/25: Converting Node Type Relu
3/25: Converting Node Type Conv
4/25: Converting Node Type Conv
5/25: Converting Node Type Relu
6/25: Converting Node Type Conv
7/25: Converting Node Type Conv
8/25: Converting Node Type Add
9/25: Converting Node Type Conv
10/25: Converting Node

[2020-01-19 20:30] rsomani95 commented on #529
@ekam123 could you find a solution? how does removing the concat affect performance?

[2020-01-21 11:40] pfeatherstone opened #534 "remove_disconnected_contants no longer exists"
convert.py : line 35 fails

[2020-01-21 11:46] pfeatherstone commented on #534
coremltools removed it

[2020-01-22 06:37] thepowerfuldeez commented on #534
As a workaround I downgraded coremltools and now it works.
`pip install coremltools==3.1`

[2020-01-22 18:12] #534 closed

[2020-01-22 18:37] #522 closed

[2020-01-23 02:20] MarcSteven opened #538 "convert to onnx and then convert to CoreML , but the prediction is wrong"

[2020-01-23 08:14] leonardoaraujosantos opened #539 "Problems Installing"
## 🐞Describe the bug
Hi guys, I'm having Issues with pip install, since last commits

## Trace
If applicable, please paste the error trace.

## To Reproduce

[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5):3.1
 - onnx-coreml version (e.g. 1.0b2):1.2
 - OS (e.g., MacOS, Linux):MacOS, Linux
 - How you install python (anaconda, virtuale

[2020-01-23 08:17] leonardoaraujosantos commented on #539
Sorry guys the issue is not installing (and by mistake I was calling pip from python 2.7)

[2020-01-23 08:17] #539 closed

[2020-01-23 08:22] leonardoaraujosantos opened #540 "Issues importing onnx_coreml 1.2"
## 🐞Describe the bug
Hi guys, I'm having issues importing onnx_coreml, I'm having this error related to remove_disconnected_layers

## Trace
[code]

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]

## System environment (please complete the following information):
 - coremltools version  (e.g., 3.0b5):3.1
 - onnx-coreml version (e.g. 1.0b2):1.2
 -

[2020-01-23 18:12] bhushan23 commented on #540
You should be on coremltools version 3.2 @leonardoaraujosantos

[2020-01-24 14:54] leonardoaraujosantos commented on #540
Thanks @bhushan23 it works perfectly.

[2020-01-24 14:54] #540 closed

[2020-01-24 14:55] leonardoaraujosantos commented on #530
Hi guys, also tested on the release 1.2 and works correctly.

[2020-01-24 14:55] #530 closed

[2020-01-28 11:59] vladserkoff commented on #497
@bhushan23, sorry for taking so long. With the version 1.2 the model exports and compiles w/o any issues. But when I try to predict with this model I still get
[code]
Currently I'm settled on this hack-y workaround for a binary task:
[code]

[2020-01-29 09:18] vladserkoff commented on #497
Okay, I've been able to find a better workaround, here I've assembled a minimal example. Not sure if it's onnx_coreml fault in the end.
[code]
BadNet will fail, and GoodNet won't obviously :)
In case of a 3D input, the workaround is to flatten the input into 2D, apply the softmax and then cast back to 3D.

[2020-01-29 09:18] #497 closed

[2020-02-01 10:35] jeremycochoy commented on #509
I Had exactly this problem with my "home made" model. Forcing the rank to be evaluated to 3 (`if rank == -1: rank = 3`) solved the issue to me. (I have two Conv1D with tensor shape of rank 3) I also tested your code and the export work perfectly.

[2020-02-01 11:06] pcuenca commented on #529
I had the same problem. My workaround was to modify the code of [`_convert_bn_custom`](https://github.com/onnx/onnx-coreml/blob/master/onnx_coreml/_operators_nd.py#L291) to add a BatchNorm layer even if the rank is detected to be 0, using the last axis for expansion:

[code]

I don't know why the rank is 0 in this case or why this situation is not already supported in the BatchNorm conversion code

[2020-02-02 23:22] ekam123 commented on #529
Thanks @pcuenca, I'll definitely try it out.
@rsomani95 I replaced the concat with just the nn.AdaptiveAvgPool2d and basically got the same performance.
`final_layer = nn.Sequential(nn.AdaptiveAvgPool2d(output_size=1),
                            nn.Flatten(),
                            nn.BatchNorm1d(2048, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True),

[2020-02-02 23:23] #529 closed

[2020-02-04 07:44] MarcSteven commented on #526
When I convert it to onnx, i FOUND THERE IS A ERROR. Perhaps that's why the result of prediction was always wrong. So I think it should have a way to verify the conversion when convert it to onnx, right?

[2020-02-06 00:48] fellowProgrammer opened #543 "Error when 'Converting Node Type Slice'"
I am trying to convert my .onnx model into CoreML. However when I try to run the script below I get this error:

[code]

This is the script I am using:

[code]

I am using onnx-coreml-1.2. I am also quite new to Machine Learning (mainly an iOS Dev) so a good step by step solution with explanation would go a long way. Thanks in advance!

[2020-02-06 15:22] themez commented on #509
I used the change in PR #524 , now I got a new `Error while converting op of type: BatchNormalization. Error message: provided number axes -1 not supported` error, guess it can be fixed by the same way?

[2020-02-13 02:05] howiezhang commented on #543
I have the same problems.

[2020-02-13 05:06] bhushan23 commented on #543
@howiezhang @fellowProgrammer could you please build from source and try?
this should have been fixed with https://github.com/onnx/onnx-coreml/pull/545

[2020-02-13 14:16] fellowProgrammer commented on #543
I tried to build from source but I am getting some errors.

 I used these commands (on google colab):

[code]

But I am getting this error:

[code]

[2020-02-14 05:07] colinheye commented on #453
I tried to use the conversion script to solve the upsample scale issue, but I receive an error saying that disable_coreml_rank5_mapping is not a recognized argument for convert. Do I need to use a beta version? I am using onnx-coreml version 1.2 and coremltools version 3.3

[2020-02-15 09:07] MarcSteven commented on #526
Hi， I knew you had released the version 1.2, but I don't find you mention the issue, does it mean you are still trying to modify the issue?

[2020-02-16 17:14] fellowProgrammer commented on #543
There is good news and bad news.

The good news is that I finally figured out how to install from source (the error I was getting above was due to me using install-develop.sh instead of install.sh). I also got past my original error. The Slice Node converts perfectly. However now I am getting another error!

I am using the same script as in my original post but this time I am getting this error:

[2020-02-16 17:18] bkkaggle opened #547 "converted DCGAN generator only accepts batches of 64 and doesn't work for batches of 1"
## ❓DCGAN generator only accepts batches of 64

## System Information
- pytorch version: 1.3.1
- onnx-coreml version: 1.2
- coremltools version: 3.3

## Code

model.py
[code]

broken_convert.py
[code]

working_convert.py
[code]

## Reproduce

convert pytorch model to onnx
[code]

try converting onnx model to coreml and testing it with a batch size of 1, which doesn't work
[code]

output:

[code]

[2020-02-16 18:17] bkkaggle commented on #547
Fixed, I was saving my onnx model as a .mlmodel file

[2020-02-16 18:17] #547 closed

[2020-02-20 17:14] jbmaxwell opened #549 "BERT: Cannot squeeze a dimension whose value is not 1"
I get the following error when running prediction on pytorch-pretrained-BERT (MLM), converted from ONNX. Both ONNX and CoreML conversion complete without errors. The specific error when running in Xcode is:
[code]

When running from python, I don't get the "Cannot squeeze" message, but do get `Error computing NN outputs`.

Trace (python):
[code]

Conversion script:
[code]

System:
Train: Ubuntu 18

[2020-02-24 13:05] dzyjjpy opened #550 "IndexError: list assignment index out of range"
## 🐞Describe the bug
convert onnx to coreml for yolact(with slice, topK ops)

## Trace
345/361: Converting Node Type Gather
346/361: Converting Node Type Gather
347/361: Converting Node Type Concat
348/361: Converting Node Type Concat
349/361: Converting Node Type TopK
350/361: Converting Node Type Slice
Traceback (most recent call last):
  File "/home/jiapy/workspace/yolact/model_convert.py", lin

[2020-02-26 07:02] shuiqingliu opened #551 "Error while converting op of type: Slice. Error message: Input shape not available"
## 🐞Describe the bug
I have a pytorch model that has been convert to onnx model, and then when I convert onnx model to coreml  with onnx-coreml ,the error occured as the bug title
## Trace
87/165: Converting Node Type Slice
Traceback (most recent call last):
  File "convert1.py", line 36, in <module>
    image_output_names=['2147'],minimum_ios_deployment_target="13")
  File "/home/qiangliu/.pyenv/

[2020-02-26 07:33] dzyjjpy commented on #550
@bhushan23 Do you have some advice for this issue?

[2020-02-27 07:02] jbmaxwell commented on #549
Just as an update, I trained and converted the current huggingface distilBert model and have the same error.

[2020-03-03 03:08] dragen1860 commented on #503
@tommymchugh how to set the axact dimension of the input when convert from onnx to coreml? Thank you.

[2020-03-03 08:51] dragen1860 opened #552 "export MobileNetv3 ONNX to CoreML failed!"
hi, all,
  has anyone succeed to convert mobilenetv3 onnx to coreml yet? I found it will get  `Error while converting op of type: Conv. Error message: provided number axes -1 not supported` error.
 Can anyone give some solutions? thank you.

[2020-03-04 02:39] dragen1860 commented on #509
Yes, for Conv2D, BN and GlobalPooling, it will all get rank=-1 error. Need to modify all these 3 source code.

[2020-03-04 17:43] jbmaxwell opened #553 "Unsupported ONNX ops of type: Range"
I've been having trouble converting the Huggingface PyTorch DistilBert to CoreML. Initially the model converted but produced incorrect results when measured against PyTorch. Attempting to verify the ONNX model using `onnxruntime` I was blocked by an invalid type error relating to passing float to `Equal`. It was discovered that my model (despite using all the latest libs) was reporting Opset v9. H

[2020-03-05 14:07] jbmaxwell commented on #553
This definitely seems to be a change for Opset 11. Searching around the repo I don't see any references to an opset version > 10, so I'm assuming this is unsupported. Is there a workaround?

[2020-03-05 17:45] jbmaxwell commented on #549
Quick update. The above issue can be solved by modifying the mlmodel after conversion (see: https://github.com/huggingface/swift-coreml-transformers/issues/16#issuecomment-592153661). However, there seems to be a more general problem with MLM. Converting the standard Bert model completes successfully with opset v10, but DistilBert appears to require opset v11 (float input support for `Equal`). Tho

[2020-03-05 17:45] #549 closed

[2020-03-09 10:13] sjf18 commented on #551
hello , i have the same issue, have you known how to fix the bug?

[2020-03-09 10:27] KYoshiyama commented on #551
I am also facing the same issue...

[2020-03-09 10:56] shuiqingliu commented on #551
I have no way to solve this problem, I implemented the model with keras and then directly converted to coreml instead of going through with onnx.

[2020-03-09 23:33] kirilcvetkov92 opened #554 "Key error pads"
## 🐞Describe the bug
Hi using opset_version=11, I'm trying to convert Architecture with
Upscaling Layers and ReflectionPad2d from Pytorch to CoreML

## Trace
1/214: Converting Node Type Sub
2/214: Converting Node Type ConstantOfShape
3/214: Converting Node Type Concat
4/214: Converting Node Type Reshape
5/214: Converting Node Type Slice
6/214: Converting Node Type Transpose
7/214: Converting Node

[2020-03-11 16:44] jbmaxwell commented on #551
I'm also blocked on the same error. Any chance anybody's made a custom layer for this?

[2020-03-11 17:23] aseemw commented on #551
Can you please share a script/python code snippet of the pytorch model to reproduce the error?

[2020-03-11 17:51] jbmaxwell commented on #551
In my case the slice was right before output, so I just moved it outside the model (i.e., in Pytorch)—I can slice it in Swift easily enough. The conversion runs okay now.
If nobody else provides anything I can upload my model and script later.

[2020-03-11 17:58] jbmaxwell commented on #551
Hmm... spoke too soon about conversion running okay. That was on my encoder; the generator fails with `Error while converting op of type: BatchNormalization. Error message: provided number axes 2 not supported `.
I'm trying to convert the encoder and generator from ClusterGAN: https://github.com/eriklindernoren/PyTorch-GAN/tree/master/implementations/cluster_gan

[2020-03-12 00:26] shuiqingliu commented on #551
https://github.com/zllrunning/face-parsing.PyTorch/blob/master/model.py
This is the code for the entire model. @aseemw

[2020-03-12 09:47] dzyjjpy commented on #347
@alexanderhudym do you sovle the issue? I met the same information when converting YOLACT for segmentation task.

@aseemw I install onnx-coreml 1.2 by source code way(./install.sh), it dosen't work. do you have any suggestion for it?

226/308: Converting Node Type Gather
227/308: Converting Node Type Unsqueeze
228/308: Converting Node Type Concat
229/308: Converting Node Type Reshape
Traceback (mo

[2020-03-12 09:47] dzyjjpy commented on #347
@alexanderhudym do you sovle the issue? I met the same information when converting YOLACT for segmentation task.

@aseemw I install onnx-coreml 1.2 by source code way(./install.sh), it dosen't work. do you have any suggestion for it?

226/308: Converting Node Type Gather
227/308: Converting Node Type Unsqueeze
228/308: Converting Node Type Concat
229/308: Converting Node Type Reshape
Traceback (mo

[2020-03-12 10:09] dzyjjpy commented on #347
@bhushan23 @alexanderhudym @aseemw here is is my model, if you want to reproduce the issue:
https://drive.google.com/drive/folders/1lqH5-QjI0zx-iulScLONgVMTctJ6l0vA?usp=sharing

(if I use minimum_ios_deployment_target='13', can convert coreml successfully, but will have errors when compiling:
**Custom layers have been added to the CoreML model corresponding to the following ops in the onnx model:

[2020-03-17 03:04] douli9862 opened #556 "convert to onnx and then convert to CoreML , but the prediction is wrong"
## 🐞Describe the bug
onnx to CoreML， but onnx's upsample BILINEAR cannot find the corresponding op in CoreML；
CoreML :

message UpsampleLayerParams {

    /**
     * Scaling Factor.
     * Must be length 2 in order ``[H, W]``.
     * If not set, default value ``[1, 1]`` is used.
     */
    repeated uint64 scalingFactor = 1;

    enum InterpolationMode {

        NN = 0; /// Nearest Neighbour

[2020-03-17 03:10] douli9862 commented on #556
![image](https://user-images.githubusercontent.com/16217713/76817997-64b47d80-683f-11ea-92bb-54979e76aa72.png)
The first picture is the target picture,  and the second picture is my converted CoreML effect picture,  the third picture is the difference picture;
The effect of the previous op is aligned

[2020-03-24 09:48] Siberi0 opened #557 "Unsupported shape calculation for operator textClassifier"
wrong git, pls delete

[2020-03-24 10:29] #557 closed

[2020-03-24 12:41] robotrovsky commented on #493
@petersiemen when i use your custom UpsampleLayer it converts fine to mlmodel. But during inference i get an error:
[code]
This layer is shown as a broadcastToStatic layer in Netron. Do you have an idea why it throws this error?

[2020-03-27 11:48] robotrovsky commented on #493
Reducing the rank to 5 and ignoring the batch size works for expand on the iphone.

        x = x.squeeze(0)
        x = x.view(C, H, 1, W, 1).expand( C, H, hs, W, ws).contiguous().view(C, H * hs, W * ws)
        x = x.unsqueeze(0)

[2020-03-29 00:40] jbmaxwell opened #559 "Add support for BatchNorm2d (and more options for Slice)"
I'm trying to convert the ClusterGAN and the conversion fails in two places. The first error is a Slice in the encoder that fails in the `forward()` function:

[code]

I'm able to work around that error by moving the Slice out of the converted model and handling it in Swift. However, the 2nd error, which I'm not sure I can work around, is a `BatchNorm2d()` in the generator. ClusterGAN is a great s

[2020-03-29 16:21] jbmaxwell commented on #559
It seems I'm mistaken about the error here. I tried doing some reshaping to replace the BatchNorm2d with a BatchNorm1d, but I still get the error: `Error while converting op of type: BatchNormalization. Error message: provided number axes 2 not supported`.

The (original) model structure is:

[code]

[2020-04-01 06:34] gemfield commented on #509
related with https://github.com/onnx/onnx-coreml/commit/c36bfefbf84ce280195e9589e44aac3ee688b11d ?

[2020-04-01 06:35] gemfield commented on #552
related with https://github.com/onnx/onnx-coreml/commit/c36bfefbf84ce280195e9589e44aac3ee688b11d ?

[2020-04-02 12:45] jeremycochoy commented on #509
May be the source of the problem. But I don't know if the previous implementation (`rank = len(graph.shape_dict[node.inputs[0]])`) would work with the current code base. Unfortunately I don't have the time to run this type of tests this week :/

[2020-04-09 13:00] s1ddok commented on #553
I'm experiencing the same with another model. Had to migrate to opset 11 for Upsample and now it doesn't work because `Range` op is not found.

[2020-04-09 14:23] jbmaxwell commented on #553
Yes, any news on opset v11 support for onnx-coreml?

[2020-04-13 14:38] oavrahami opened #560 "Using PixelShuffle operation causes error of computing minimum sequence length"
## 🐞Describe the bug
As part of my model, I take an input, reshape it, then I perform [PixelShuffle](https://pytorch.org/docs/stable/nn.html#pixelshuffle) and multiply its result by the input. When I try to convert the ONNX model to CoreML I get the following error:

To make the things even weirder, If I omit the final multiplication of the input, the conversion is successful with no errors.

## T

[2020-04-13 14:41] oavrahami commented on #533
Hi @Penelope1003 ,
Did you manage to solve this issue?

[2020-04-14 14:19] fcqfcq opened #561 "key :498"
## 🐞Describe the bug
A clear and brief description of what the bug is.

## Trace
If applicable, please paste the error trace.

## To Reproduce
- If a python script can reproduce the error, please paste the code snippet
[code]
- If applicable, please attach ONNX model
    - If model cannot be shared publicly, please attach it via filing a bug report at https://developer.apple.com/bug-reporting/
- I

[2020-04-15 00:41] BorisKourt commented on #554
Also the same issue here. It works okay on opset 9 or 10.
[code]

## System environment:
coremltools==3.3
onnx-coreml==1.2
Python : 3.7
Framework : Pytorch == 1.4

[2020-04-15 07:18] ChouWeizhong opened #562 "Cant convert GRU layer"
## 🐞Describe the bug
Hi, Thank you for looking my bug report.
I'm working on Pytorch model development, and I need convert my model to CoreML
So the onlny way I know is Pytorch->Onnx->CoreML(if there are other good way please tell me)
The convert works well before I add GRU layer into my model.
Then after I add GRU: the Pytorch->Onnx works well. But onnx model cant convet to CoreML.
## Trace
[code

[2020-04-15 17:02] l0stpenguin opened #563 "IndexError: index -2 is out of bounds for axis 0 with size 0"
## ❓Question
I am trying to convert the model in [MiDaS repository](https://github.com/intel-isl/MiDaS) to coreml.

So i first converted the [pretrained pytorch model](https://drive.google.com/file/d/1nqW_Hwj86kslfsXR7EnXpEWdO2csz1cC) to onnx using this script:
https://gist.github.com/l0stpenguin/ea52c28eb54288a61f21af48ceccd24d

Here is the graph output generated:
https://gist.github.com/l0stpeng

[2020-04-15 20:43] malemo opened #564 "Onnx to mlmodel conversion fails to generate .mlmodel file"
I'm trying to convert Pytorch model to MLModel with Onnx.

My code:
[code]
After the code runs Model.onnx is generated, however, .mlmodel file is not generated. There're no errors in the console.

What could be the issue?

[2020-04-16 20:34] rdv0011 commented on #453
Hello.
  I have tried to use the above mentioned script, but it seems graph.shape_dict does not contain needed indices:
[code]

I am using CoreML tools ver. 3.3:
[code]

[2020-04-17 18:05] BorisKourt opened #565 "ONNX dynamic_axes cause compile time errors in final CoreML model"
## 🐞Describe the bug
If an ONNX model is created with `dynamic_axes` then the subsequent CoreML model surfaces

[code]
and
[code]
Compilation errors in xcode.

Please note that this is regardless of whether flexible inputs/outputs are specified with:
[code]
During the `onnx-coreml` conversion step.

### More details

If `dynamic_axes` are removed _**and**_ the `img_size_ranges` are removed then th

[2020-04-17 22:06] bhushan23 commented on #453
@colinheye you should use `minimum_ios_deployment_target` option instead of `disable_coreml_rank5_mapping`
ref: https://github.com/onnx/onnx-coreml#parameters

[2020-04-17 22:09] bhushan23 commented on #453
@rdv0011 above example is for reference purpose. If you know the input shape for Upsample, you can provide that in custom conversion function.

We don't know input shape because, onnx shape inference is not able to infer shape beyond cat or similar layers. But in practice, you should know shape and can provide it.

I would recommend to provide this hard shape

[2020-04-17 22:21] bhushan23 commented on #565
@BorisKourt using `flexible_shape_utils` is right way to add different image size inputs.
How are you running you model? what's the input you are providing?

[2020-04-17 22:25] bhushan23 commented on #564
can you try
`print(finalModel)`
before saving the model?  This will help us understand that we indeed have valid mlmodel being converted

[2020-04-17 23:12] BorisKourt commented on #565
@bhushan23, thanks for your prompt reply. Here is the code that references or interacts with the model (Simplified, tell me if you need a particular part. I can also try to make a minimal reproducible example):

Load:
[code]

Prediction call:
[code]

Note that all of this code works if the model is not flexible.
The size of the input image is 480x640 (in all cases.)

---

I have also found this is

[2020-04-18 00:04] bhushan23 commented on #550
@dzyjjpy apologies for delayed response.
What is your ONNX opset version for given model?

according to https://github.com/onnx/onnx/blob/master/docs/Changelog.md#Slice-1 Slice should have one input and in that case slice start and end indices should be present for all given axes, which is the assumption for slice ir v9 variant. If it's opset version 10 then it should have more than one inputs.

S

[2020-04-18 20:20] rdv0011 commented on #453
@bhushan23
Thanks for giving an instruction how to fix it it worked for me. I have another question regarding a Tile block. It seems it expects an input to be presented in the input_tensor which is not the case for me. Do you know what to pass a values for an ```reps``` argument in the function ```builder.add_tile()```?
![Screenshot 2020-04-18 at 22 15 42](https://user-images.githubusercontent.com

[2020-04-19 16:29] colinheye commented on #453
Thank you, this appears to fix that issue, but now I receive a KeyError
[code]

[2020-04-20 00:59] bhushan23 commented on #453
You should the number of times to replicate compile time and hence it should be part of input tensors.
Ref:
Here is proto documentation: https://github.com/apple/coremltools/blob/master/mlmodel/format/NeuralNetwork.proto#L5418
Here is builder API:  https://github.com/apple/coremltools/blob/master/coremltools/models/neural_network/builder.py#L4298

[2020-04-20 01:00] bhushan23 commented on #453
@colinheye please refer to this comment https://github.com/onnx/onnx-coreml/issues/453#issuecomment-615485972

I posted this as an example and you can manually fix the input shape if you know it (highly recommend to encode shape you are expecting)

[2020-04-20 01:02] bhushan23 commented on #453
Closing out this issue as does have work around with custom conversion functions and will be unblocked partially after upgrading to new onnx version (hopefully with new shape inference fixes)
Please feel free to re-open or comment if you need more help on this.

[2020-04-20 01:02] #453 closed

[2020-04-20 01:04] bhushan23 commented on #561
@fcqfcq looks like shape information is not available for input weights.
Can you share onnx model?

[2020-04-20 01:13] bhushan23 commented on #562
Thanks @ChouWeizhong
separating gates is incorrect (here: https://github.com/onnx/onnx-coreml/blob/master/onnx_coreml/_operators_nd.py#L786) It should have been splitting on 2nd axis always instead of squeezing which will split differently depending on input.

[2020-04-20 16:03] dry1lud commented on #511
@bhushan23 I have faced with the similar issue. Is there any workaround for it?

[2020-04-20 16:55] AnasArram commented on #511
this issue is from upsample. the output shape of upsample layer is [48, 64, 32, 1, 1] and the input shape of the next layer is [24, 32, 32, 1, 1], so different shapes and they should be same.
Workaround for this is you need to specify the scales for each upsample layer. you may know the upsample scale of your models by looking at the input shape of the upsample layer and the input shape of the nex

[2020-04-20 19:19] malemo commented on #564
@bhushan23 I did try print, no output

I also tried this
[code]
Again no output in the console.

I'm running this in Google Collab

[2020-04-21 07:44] Shuwrood-SSW commented on #538
any way to deal with it ? I have the same issue now.

[2020-04-21 11:10] MarcSteven commented on #538
@Shuwrood-SSW  You can check my blog about the issue and recheck the model.
[Prediction wrong to check ](https://medium.com/@MarcStevenCoder/coreml预测不准问题实践-821b84acfb99)

[2020-04-21 16:53] bhushan23 commented on #538
@MarcSteven can you provide more details?
Can you share ONNX model and input for which you observe incorrect prediction?

[2020-04-21 16:53] bhushan23 commented on #564
@malemo can you share onnx model?

[2020-04-21 17:42] malemo commented on #564
Here is the [Onnx Model](https://drive.google.com/file/d/1thEITb-MlbbCtbzoU-yEJkugxijXn70R/view)
This is original [Pytorch model](https://github.com/zllrunning/face-parsing.PyTorch) I'm trying to convert

[2020-04-21 18:28] bhushan23 commented on #564
@malemo Please reinstall ONNX-CoreML and try
I see following with latest onnx-coreml beta

[code]

Why does it fails?
ONNX model is of opset version 11 (ai.onnx v11)
I would recommend converting to opset version 9 or 10. Support for 11 is not yet added in onnx-coreml.
https://pytorch.org/docs/stable/onnx.html#torch.onnx.export

[2020-04-22 06:34] MarcSteven commented on #538
[onnx model](https://drive.google.com/open?id=1f3elDoX_VIBan3lKxIjoQUqA6dKCPw69)
@bhushan23  FYI

[2020-04-24 04:49] MarcSteven commented on #538
Hope it is useful to modify

[2020-04-26 08:20] l0stpenguin commented on #563
@bhushan23 any ideas?

[2020-05-04 21:47] torqueNoFriction commented on #551
Any update on how you managed to around this bug ?

[2020-05-07 09:33] xzimg opened #568 "Issue with constant padding operator"
## 🐞Describe the bug
Constant padding operator seems not properly managed by the onnx to coreml converter tool. When importing in xcode the mlmodel can be compiled as the padding axis are misinterpreted.

## Trace
coremlc: Error: compiler error:  Espresso exception: "Invalid blob shape": generic_elementwise_kernel: cannot broadcast [7, 8, 2, 1, 1] and [8, 8, 1, 1, 1]

Command CoreMLModelCompile fa

[2020-05-07 10:35] yizhaoyanbo opened #569 "Wrong results on ANE when set minimum_ios_deployment_target=ios12"
## 🐞Describe the bug

I have trained a fcn-mobilenetv2 model using pytorch and have converted the model from onnx to mlmodel successfully both with minimum_ios_deployment_target=ios12 and minimum_ios_deployment_target=ios13 .

When ios12 target is set, I get correct prediction result using cpu-only and cpu+gpu, but get wrong result when using apple's ANE. I have tested the above two iphones and ge

[2020-05-09 02:33] xu-wang11 opened #570 "prediction is wrong with multiple input with mini deployment=13"
## 🐞Describe the bug
A clear and brief description of what the bug is.

I have posted all the code and test data to the repo:

[https://github.com/xu-wang11/SiamRPN-coreml.git] (https://github.com/xu-wang11/SiamRPN-coreml)

* input:
   - image: shape(1, 3, 271, 271)
   - kernel_reg: shape(20, 512, 4, 4)
   - kernel_cls: shape(10, 512, 4, 4)
* output:
  - out_reg: shape(1, 20, 19, 19)
  - out_cls:

[2020-05-09 13:38] Arxtage commented on #554
Same issue. Did anyone handle it?

[code]

### System environment:

coremltools==3.3
onnx-coreml==1.3
Python : 3.7
Framework : Pytorch == 1.4

[2020-05-12 18:00] bhushan23 commented on #554
@BorisKourt @Arxtage Looks like you are using opset version 11
could you please export to opset version 10? pytorch export has an option to export to opset version 10 (`opset=10`)

[2020-05-12 19:34] BorisKourt commented on #554
As mentioned in my post above it does work in opset 9 and 10. I am wondering what the issue with 11 is?

[2020-05-13 20:14] gordinmitya commented on #474
@saddif I'm not sure about your case but I was able to overcome this error by putting the model through https://github.com/daquexian/onnx-simplifier
Hope it helps

[2020-05-16 23:19] iiSeymour opened #571 "Unsupported axis 2 for softmax"
## 🐞Describe the bug

Converting a model that using `log_softmax` with `dim=2` results in an `TypeError` being thrown during model conversion.

## Trace

[code]

## To Reproduce

[code]
## System environment (please complete the following information):

macOS Catalina 10.15.4
python 3.7
torch==1.4.0
coremltools==3.3
onnx-coreml==1.3

[2020-05-17 00:01] iiSeymour commented on #571
This only seems a problem with the `convert-onnx-to-coreml` command line tool - not a problem when targeting CoreML 3 specifically.

[code]

[2020-05-17 00:01] #571 closed

[2020-05-22 07:58] daylight0998 opened #572 "Error while converting op of type: BatchNormalization. Error message: provided number axes -1 not supported"
## 🐞Describe the bug
(1) I try to convert onnx model to mlmodel, but it's error:
Error while converting op of type: BatchNormalization. Error message: provided number axes -1 not supported

## Trace
Traceback (most recent call last):
File "/Applications/PyCharm.app/Contents/helpers/pydev/pydevd.py", line 1741, in
main()
File "/Applications/PyCharm.app/Contents/helpers/pydev/pydevd.py", line 1735,

[2020-05-23 13:21] Andrea-Scuderi opened #573 "Add support for MaxPool ceil_mode=1"
## 🌱 Describe your Feature Request
Model converted to onnx from Pytorch with `opset_version=12` are not supported
when they contain `MaxPool` `ceil_mode=1`

- CoreML / iOS version you are using?
CoreML 3

[2020-05-25 13:26] langleyd commented on #509
Also saw this issue for `Conv` ConvTranspose' and 'MaxPool'. Worked around it by forcing the rank to the value I knew was expected in my "home made" model, in the `_add_conv_like_op` function.

[2020-05-28 06:18] daylight0998 commented on #572
What can be done to resolve this error？

[2020-05-28 15:38] CQCumbers commented on #551
I think I may have the same problem as the original poster, but can add a concrete example. The linked [ONNX graph](https://drive.google.com/open?id=1EjWgU-TVk4gkidWc6OuHiqYz7SJ8Fwkz) similarly has a slice node after a shape node, and produces an `Input shape not available` when I try to convert it. If I set `add_custom_layers=True`, it instead produces a `KeyError: 110`.

[2020-06-06 12:26] zengxianyu commented on #551
I encountered the same issue. Then I found it is caused by the interpolation or upsampling of pytorch. It solved after replacing upsampling with transposed convolution with an upsampling filter.

I replaced ```x = nn.functional.interpolate(x, scale_factor=2)``` with
[code]

[2020-06-06 12:54] zengxianyu commented on #551
I have made a code snippet to reproduce the error:
[code]
For pytorch '1.3.0'+onnx_coreml '1.3', an error occurs at ```torch.onnx.export()````

For pytorch '1.6.0.dev20200528', the ```torch.onnx.export()``` works but this error occurs at ```model = convert(```
saying that

[code]

[2020-06-07 03:51] zengxianyu commented on #551
@aseemw I have made a code snippet to reproduce the error:
[code]
For pytorch '1.3.0'+onnx_coreml '1.3', an error occurs at ```torch.onnx.export()```

For pytorch '1.6.0.dev20200528', the ```torch.onnx.export()``` works but this error occurs at ```model = convert(```

the error message is

[code]

[2020-06-11 11:11] lnysoftin opened #574 "Key error and segmentation fault (core dumped) of onnx-coreml1.3.0,onnx1.7.0,pytorch1.5"
Dear：
 When I use convert in onnx-coreml, segmentation fault （core dumped）arises.
My model is A PyTorch reimplementation for paper Generative Image Inpainting with Contextual Attention.
My code is :
[code]
Are there any ideas to avoid segmentation fault?
[code]

My environment is like this:

when i uncomment for 500 lines in converter.py
[code]
key error arises:
[code]
Are there any ideas to avoid

[2020-06-12 13:43] samc24 commented on #551
I still have the same issue, are there any solutions other than modifying the model? I've been trying to convert a yolo v5 pytorch model to coreml.

[2020-06-13 09:45] #563 closed

[2020-06-14 05:31] maplecoder opened #575 "Error while converting op of type: Slice. Error message: Input shape not available"
## 🐞Describe the bug
I'm trying to port https://github.com/alinstein/Depth_estimation to iOS.

There is a PyTorch model located at: https://drive.google.com/drive/folders/1rDvtiwUgYbhzk8ZPdQ176abv-u6SaZzI?usp=sharing

First I converted it to a ONNX model, then I converted the ONNX model to CoreML model, but the error was reported

## Trace
----------------------------------------------------------

[2020-06-16 13:15] marc-jv opened #576 "Different outputs between pytorch, onnx and coreml"
## 🐞Describe the bug
I'm training a neural network containing an embedding layer, a linear layer, a GRU, then followed with another linear and a logsoftmax. It's trained properly and exported as well to onnx and coreml. However, when I test (that is, computing a forward step with a dummy input) the three models (.pth, .onnx and .mlmodel), the pytorch and onnx models yield the same output but the c

[2020-06-16 19:01] dlawrences commented on #551
Same issue with a YOLOV5 PyTorch model.

Environment:
- coremltools: 3.4
- onnx: 1.7.0
- onnx-coreml: 1.3

Any thoughts on this?

Thanks

[2020-06-17 19:43] dlawrences commented on #493
I have taken another approach to avoid rank 6 tensors while still achieving the same desired computation:

[code]

[2020-06-18 06:36] rekil156 opened #577 "Output from ONNX and CoreML don't seem to be matching."
I have converted my pytorch model to ONNX and viewed my results. These images from ONNX are correct. (It is a segmentation model based of Unet with Mobilenet as backbone).

I'm running all the code on Google Colab (tried it with paperspace and AWS and same results) .
onnx='1.7.0'
coremltools='3.4'
onnx_coreml='1.3'

[code]
I get the expected output. Segments the hair in the red channel, skin in th

[2020-06-22 08:59] lnysoftin commented on #574
I think this error may be cause by torch.clamp and F.interpolate,can someone help? I try do onnx simpler, but it still cannot work , may be the network is too complex.

[2020-06-23 10:58] francesctt commented on #576
Did you have time to look into this @aseemw ? Thanks

[2020-06-23 21:03] s1ddok opened #578 "Tensor initializers aren't getting converted to constants"
Even though onnx contain needed input as tensor initializer:

<img width="417" alt="image" src="https://user-images.githubusercontent.com/6384566/85462322-03bee300-b5ae-11ea-8e6b-29b566e9ebfb.png">

The model yields an error while converting:
[code]

is there a way to support constant inputs to layers?

[2020-06-27 00:05] #575 closed

[2020-06-27 00:34] 1duo commented on #575
Hi @maplecoder, thanks for reporting this issue! It seems you're converting a model from PyTorch. In latest update of `coremltools` (https://github.com/apple/coremltools), we've added support for PyTorch -> Core ML directly without going through ONNX, can you give that a try? https://coremltools.readme.io/docs/pytorch-conversion. Please [file an issue](https://github.com/apple/coremltools/issues/n

[2020-06-29 19:04] Guanbin-Huang opened #580 "the link of the example of onnx to coreml is missing."
## ❓Question

## System Information
- If applicable

[2020-06-29 19:58] Guanbin-Huang opened #581 "non-classifier case in coremltools4.0+"
## ❓Question
Is it possible to convert a pytorch model withtout classification layer into mlmodel? I don't know how to do it because in the example,  I am asked to specify the label.

## System Information
- If applicable

[2020-06-29 20:03] aseemw commented on #581
Just don't provide the `classifier_config` argument to the `ct.convert` call, as shown [here](https://coremltools.readme.io/docs/unified-conversion-api#conversion-from-pytorch)

[2020-06-29 20:10] Guanbin-Huang commented on #581
Hi, have you ever encountered this situation?
![image](https://user-images.githubusercontent.com/30463291/86051128-d90cd880-ba4c-11ea-88aa-c3038dafa5d6.png)
One day ago, I convert my pytorch model to onnx. It works well. But now I use your tool to do the conversion directly. It seems not good.

[2020-06-29 20:11] Guanbin-Huang commented on #581
This is the complete error.
TypeError: Input strides has type <class 'coremltools.converters.mil.mil.types.type_tensor.tensor.<locals>.tensor'> not compatible with expected type IntTensorInputType

[2020-06-29 20:16] Guanbin-Huang commented on #581
it works well until the 7-th part
![image](https://user-images.githubusercontent.com/30463291/86051706-be872f00-ba4d-11ea-9354-b908148d270e.png)

[2020-06-29 20:16] Guanbin-Huang commented on #581
I run the whole thing on colab.

[2020-06-29 21:58] Guanbin-Huang commented on #581
Hi, have you ever encountered this situation?
[image: image]
<https://user-images.githubusercontent.com/30463291/86051128-d90cd880-ba4c-11ea-88aa-c3038dafa5d6.png>
One day ago, I convert my pytorch model to onnx. It works well. But now I
use your tool to do the conversion directly. It seems not good.

This is the complete error.
TypeError: Input strides has type <class
'coremltools.converters.mil.

[2020-06-29 22:23] aseemw commented on #581
@huangguanbin can you please provide the pytorch model, which can reproduce this error? Otherwise its hard to debug the error.

[2020-06-29 22:24] Guanbin-Huang commented on #581
no problem. I will do it right now. Give me a second.

On Mon, Jun 29, 2020 at 11:23 PM Aseem Wadhwa <notifications@github.com>
wrote:

[2020-06-29 22:43] Guanbin-Huang commented on #581
https://colab.research.google.com/drive/1hfv_Qbl6ZHDbXq_HB9bo3tV89KM7Skoq?usp=sharing
     This is the notebook where you can reproduce the bug.
And you can download the pytorch model by clicking the shared link. It
contains a zip file.
https://drive.google.com/file/d/1etvQPPGlr4YxBEsCgOeduicErYN18BLg/view?usp=sharing
All you need to do is just go through the notebook. Make sure the zip file
is in

[2020-06-29 22:46] Guanbin-Huang commented on #581
If you encountered any issue to run my code, plz let me know ASAP. I will reply to you on time.

[2020-06-29 22:52] aseemw commented on #581
The colab is not accessible...

[2020-06-29 22:53] Guanbin-Huang commented on #581
Is the zip accessible "*?*

On Mon, 29 Jun 2020 at 23:52, Aseem Wadhwa <notifications@github.com> wrote:

[2020-06-29 22:54] Guanbin-Huang commented on #581
https://colab.research.google.com/drive/1hfv_Qbl6ZHDbXq_HB9bo3tV89KM7Skoq?usp=sharing
    try this one.

On Mon, Jun 29, 2020 at 11:52 PM 黄冠斌 <qsmy122011@gmail.com> wrote:

[2020-06-29 22:55] Guanbin-Huang commented on #581
if it is not accessible again, copy the code below onto colab.

!unzip AlignedReID-master.zip
!pip install coremltools==4.0b1

%cd AlignedReID-master/

import torch
from util.FeatureExtractor import FeatureExtractor
from torchvision import transforms
from IPython import embed
import models
from scipy.spatial.distance import cosine, euclidean
from  util.utils import *
from sklearn.preprocessing imp

[2020-06-29 23:48] Guanbin-Huang commented on #581
I changed the link of zip file by mistake. If you want to download it again. use this one.   https://drive.google.com/file/d/1ufh5kndXMdWfKPRT85dDtEwhZ1MXnPg7/view?usp=sharing

[2020-06-30 00:14] Guanbin-Huang commented on #581
I would appreciate it if you can also check how precise the conversion is.
Because some say conversion leads to loss of precision. That means given
same input matrix but get different output matrix. THANK YOU!!

On Mon, Jun 29, 2020 at 11:55 PM 黄冠斌 <qsmy122011@gmail.com> wrote:

[2020-06-30 14:25] Guanbin-Huang commented on #581
Any progress on this?

On Tue, 30 Jun 2020 at 01:13, 黄冠斌 <qsmy122011@gmail.com> wrote:

[2020-06-30 21:05] JialeHu commented on #581
I had the same issue (TypeError: Input strides has type <class
'coremltools.converters.mil.mil.types.type_tensor.tensor..tensor'> not
compatible with expected type IntTensorInputType).
I am wondering if it is the issue related compatibility between coreML tensor and torch Tensor?

[2020-07-02 08:04] quangphap208 commented on #551
I still have the same issue, are there any solutions other than modifying the model? I've been trying to convert a 79999_iter.pth pytorch model to coreml from https://github.com/zllrunning/face-parsing.PyTorch ?

Any thoughts on this?
Thanks

[2020-07-02 09:31] Guanbin-Huang commented on #581
any progress?

[2020-07-03 00:00] mohitnihalani commented on #580
You can check here [https://coremltools.readme.io/docs/onnx-conversion](https://coremltools.readme.io/docs/onnx-conversion) .Onnx-Coreml is now under Core-ML tools.

[2020-07-03 00:02] mohitnihalani commented on #575
Do you have upsampling layer in the PyTorch model?

[2020-07-03 00:09] mohitnihalani commented on #551
There is so some issue in the Onnx conversion of the PyTorch model as the slice node is not able to infer the shape correctly. I would suggest you create a new onnx model using the existing one using [Onnx Simiplifier](https://github.com/daquexian/onnx-simplifier) and make sure you choose opset 9 while converting the model. It worked for me.

[2020-07-03 00:11] mohitnihalani commented on #543
There is so some issue in the Onnx conversion of the PyTorch model as some nodes are not able to infer the shape correctly. I would suggest you create a new onnx model using the existing one using [Onnx Simplifier](https://github.com/daquexian/onnx-simplifier) and make sure you choose opset 9 while converting the model. It worked for me.

[2020-07-03 00:47] DawerG commented on #580
As @mohitnihalani mentioned, please read the [onnx-conversion section](https://coremltools.readme.io/docs/onnx-conversion) in coremltools documentation. It contains the links for Jupyter notebooks containing reference examples. Thanks @mohitnihalani

For future issues, engagements, bug-fixes and requests, please use [`coremltools`](https://github.com/apple/coremltools) GitHub repository.

Closing

[2020-07-03 00:47] #580 closed, assigned to nobody

[2020-07-03 03:46] quangphap208 commented on #551
Hi @mohitnihalani ,
Thanks for your answer. Howerver, I had another problem :
/usr/local/lib/python3.7/site-packages/onnx_coreml/_operators_nd.py in _convert_resize(builder, node, graph, err)
   1732     builder.add_upsample(
   1733         name=node.name,
-> 1734         scaling_factor_h=scale[-2],
   1735         scaling_factor_w=scale[-1],
   1736         input_name=node.inputs[0],

IndexError

[2020-07-03 14:56] mohitnihalani commented on #551
@quangphap208 could you share your onnx graph so I can have a look at it.

[2020-07-04 06:23] quangphap208 commented on #551
hi @mohitnihalani,
i have pytorch model from  https://github.com/zllrunning/face-parsing.PyTorch, i have convert to onnx, after i use Onnx Simiplifier.
Pytorch -> onnx -> onnx simiplified -> error index -2 is out of bounds for axis 0 with size 0.
https://drive.google.com/file/d/156jYu7vRm9HUsfkp9-gCXaAstxMabPZP/view?usp=sharing
Thanks for your answer

[2020-07-04 21:56] bhushan23 commented on #551
@quangphap208 you can try new [PyTorch converter](https://coremltools.readme.io/docs/pytorch-conversion)

[2020-07-05 04:24] quangphap208 commented on #581
i had same issue:
TypeError: Input strides has type <class 'coremltools.converters.mil.mil.types.type_tensor.tensor.<locals>.tensor'> not compatible with expected type IntTensorInputType